{% extends 'base.html.twig' %}

{% block title %}{% trans %}All Events{% endtrans %}{% endblock %}

{% block body %}

    {% for event in nextEvents %}
        <div class="modal" id="modalEvent{{ event.id }}">
            <div class="modal-background" onclick="this.parentElement.classList.remove('is-active')"></div>
            <div class="modal-content box has-background-success-light">
                {{ include('event/modal_event_details.html.twig') }}
            </div>
            <button class="modal-close is-large" aria-label="close" onclick="this.parentElement.classList.remove('is-active')"></button>
        </div>
    {% endfor %}

    <div class="section column">
        <h1 class="title has-text-weight-bold has-text-white">{% trans %}All next events{% endtrans %}</h1>
        <p class="has-text-white">{% trans %}Consult the list of all upcoming events{% endtrans %}</p>
    </div>

    <div class="container">
        <div class="column">
            <div class="mb-3">
                <a href="{{ path('event_home') }}" class="button is-success is-light">
                    <span class="icon">
                        <i class="fas fa-lg fa-caret-left"></i>
                    </span>
                    <span>
                        {% trans %}Events lobby{% endtrans %}
                    </span>
                </a>
            </div>
            <div class="control">
                <div class="tags are-large has-addons">
                    <span class="tag is-dark">{{ 'Total number of Events' }}</span>
                    <span class="tag is-success">{{ nextEvents.getTotalItemCount }}</span>
                </div>
            </div>
            <div class="navigation column">
                {{ knp_pagination_render(nextEvents) }}
            </div>
            <div class="column">
{#                {% for event in nextEvents|sort((a, b) => a.datetime <=> b.datetime) %}#}
                {% for event in nextEvents %}
                    {% if date(event.datetime) %}
                        {{ include('event/event_card.html.twig') }}
                    {% endif %}
                {% endfor %}
            </div>

            <a href="{{ path('event_home') }}" class="button is-success is-light">
                <span class="icon">
                    <i class="fas fa-lg fa-caret-left"></i>
                </span>
                <span>
                    {% trans %}Events lobby{% endtrans %}
                </span>
            </a>

        </div>
    </div>
{% endblock %}
