{% extends 'base.html.twig' %}

{% block title %}{% trans %}All Events{% endtrans %}{% endblock %}

{% block body %}

    {% for event in events %}
        <div class="modal" id="modalEvent{{ event.id }}">
            <div class="modal-background" onclick="this.parentElement.classList.remove('is-active')"></div>
            <div class="modal-content box has-background-primary">
                {{ include('event/modal_event_details.html.twig') }}
            </div>
            <button class="modal-close is-large" aria-label="close" onclick="this.parentElement.classList.remove('is-active')"></button>
        </div>
    {% endfor %}

    <section class="section">
        <div class="container">
            <div class="column px-0">
                <h2 class="subtitle has-text-centered is-2 has-text-weight-bold has-text-white">{% trans %}All next events{% endtrans %}</h2>
                <a href="{{ path('events_home') }}" class="button is-primary">
                    <span class="icon">
                        <i class="fas fa-lg fa-caret-left"></i>
                    </span>
                    <span>
                        {% trans %}Events lobby{% endtrans %}
                    </span>
                </a>
            </div>
            <div class="columns is-multiline">
                {% for event in events %}
{#                    <p class="has-text-white">#}
                        {% if event.datetime|date >= "now"|date %}
                            <div class="column is-narrow is-one-third-desktop is-half-tablet is-relative scalup-hover">
                                <a style="position: absolute;top: 0; left: 0;width: 100%; height: 100%;z-index: 1;" onclick="document.querySelector('#modalEvent'+{{ event.id }}).classList.add('is-active')"></a>
                                <div class="card is-relative">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {{ include('event/edit_event_button.html.twig') }}
                                    {% endif %}
                                    <div class="card-image">
                                        <figure class="image is-3by1">
                                            {% if event.image %}
                                                <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="Placeholder image">
                                            {% else %}
                                                <img src="{{ asset('build/images/720x240.8013db28.png') }}" alt="Placeholder image">
                                            {% endif %}
                                        </figure>
                                    </div>
                                    <div class="column has-background-black has-text-success has-text-centered">
                                        <b>{{ event }}</b>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
{#                                            <hr class="has-background-black" style="height: 1px">#}
                                            <time datetime="{{ event.datetime|format_datetime('full','short',locale=app.request.locale) }}">{{ event.datetime|format_datetime('full','short',locale=app.request.locale) }}</time>
                                            <br><br>
                                            {{ event.street }}<br>
                                            {{ event.cp }}, {{ event.city }}<br>
                                            {{ event.country }}<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
{#                    </p>#}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}