{% extends 'base.html.twig' %}

{% block title %}{% trans %}All Events{% endtrans %}{% endblock %}

{% block body %}

    {% for event in events %}
        <div class="modal" id="modalEvent{{ event.id }}">
            <div class="modal-background" onclick="this.parentElement.classList.remove('is-active')"></div>
            <div class="modal-content box has-background-success-light">
                {{ include('event/modal_event_details.html.twig') }}
            </div>
            <button class="modal-close is-large" aria-label="close" onclick="this.parentElement.classList.remove('is-active')"></button>
        </div>
    {% endfor %}

    <div class="section column">
        <h1 class="title has-text-weight-bold has-text-white">{% trans %}All next events{% endtrans %}</h1>
        <p class="has-text-grey-light">{% trans %}Consult the list of all upcoming events{% endtrans %}</p>
    </div>

    <div class="container is-flex-tablet is-flex-direction-row">

            <button class="button is-success is-light is-static is-hidden-tablet is-fullwidth">
                <span class="icon">
                    <i class="fas fa-lg fa-caret-down"></i>
                </span>
                <span>
                    {% trans %}Events calendar{% endtrans %}
                </span>
            </button>

        <div class="column is-one-quarter-desktop is-one-third-tablet slide-fade-left">
            {{ include('includes/calendar.html.twig') }}
        </div>

        <div class="column">
            <div class="mb-3 is-hidden-mobile">
                <button class="button is-success is-light is-static">
                    <span class="icon">
                        <i class="fas fa-lg fa-caret-left"></i>
                    </span>
                    <span>
                        {% trans %}Events calendar{% endtrans %}
                    </span>
                </button>
            </div>
            <div class="control">
                <div class="tags are-large has-addons">
                    <span class="tag is-dark">{{ 'Total number of upcoming events'|trans }}</span>
                    <span class="tag is-success">{{ nextEvents.getTotalItemCount }}</span>
                </div>
            </div>
            <div class="navigation column px-0">
                {{ knp_pagination_render(nextEvents) }}
            </div>
            <div class="column">
                {% for event in nextEvents %}
                    {% if date(event.datetime) %}
                        {{ include('event/event_card.html.twig') }}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="navigation column px-0">
                {{ knp_pagination_render(nextEvents) }}
            </div>

        </div>

    </div>
{% endblock %}
