{% extends 'base.html.twig' %}

{% block title %}{% trans %}All Events{% endtrans %}{% endblock %}

{% block body %}

    {% for event in events %}
        <div class="modal" id="modalEvent{{ event.id }}">
            <div class="modal-background" onclick="this.parentElement.classList.remove('is-active')"></div>
            <div class="modal-content box has-background-success-light">
                {{ include('event/modal_event_details.html.twig') }}
            </div>
            <button class="modal-close is-large" aria-label="close" onclick="this.parentElement.classList.remove('is-active')"></button>
        </div>
    {% endfor %}

    <div class="section column">
        <h1 class="title has-text-weight-bold has-text-white">{% trans %}All next events{% endtrans %}</h1>
        <p class="has-text-white">{% trans %}Consult the list of all upcoming events{% endtrans %}</p>
    </div>

    <section class="container">
        <div class="column">
            <div class="mb-3">
                <a href="{{ path('events_home') }}" class="button is-primary">
                    <span class="icon">
                        <i class="fas fa-lg fa-caret-left"></i>
                    </span>
                    <span>
                        {% trans %}Events lobby{% endtrans %}
                    </span>
                </a>
            </div>

            <div class="columns is-multiline">
                {% for event in events %}
                    {% if date(event.datetime) >= date('now') %}
                        {{ include('event/event_card.html.twig') }}
                    {% endif %}
                {% endfor %}
            </div>

            <a href="{{ path('events_home') }}" class="button is-primary">
                <span class="icon">
                    <i class="fas fa-lg fa-caret-left"></i>
                </span>
                <span>
                    {% trans %}Events lobby{% endtrans %}
                </span>
            </a>

        </div>
    </section>
{% endblock %}
