<div class="" style="height: 100%;">
    <div class="item-{{ count_2 }}" style="height: 100%;">
        <div class="is-flex is-flex-direction-row is-relative"  style="height: 100%;background:rgba(0,0,0,0)">
            {% if is_granted('ROLE_ADMIN') %}
                {% include 'includes/edit_entity_button.html.twig' with {'entity' : event, 'entity_type' : 'event' } %}
            {% endif %}
            <figure style="height: 100%;width: 50%">
            {% if event.image %}
                <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="" style="height: 100%;width: 100%;object-fit: fill">
            {% else %}
                <img src="https://bulma.io/images/placeholders/720x240.png" alt="" style="height: 100%;max-height: 100%;width: 100%;object-fit: fill">
            {% endif %}
            </figure>
            <div class="column slider-container-child is-flex is-flex-direction-column" style="width: 50%;">
                <div class="is-flex is-align-items-center shadow-box-1 my-2">
                    <div class="has-text-success has-text-weight-bold is-size-5 column py-1">
                        <span>
                            {{ event.title }}
                        </span>
                    </div>
                </div>
                <div class="is-flex is-align-items-center shadow-box-1 my-2">
                    <div class="has-text-white column py-1 overflow-ellipsis" style="max-width: 90%">
                        <span  class="icon has-text-success">
                            <i class="fas fa-lg fa-map"></i>
                        </span>
                        <span>
                            {{ event.city }},
                            <span class="is-uppercase">
                                {{ event.country }}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="is-flex is-align-items-center shadow-box-1 my-2">
                    <div class="has-text-white column py-1">
                        <span  class="icon has-text-success">
                            <i class="fas fa-lg fa-calendar-alt"></i>
                        </span>
                        <span>
                            {{ event.datetime|format_datetime('full','none',locale=app.request.locale) }}
                        </span>
                    </div>
                </div>
                <div class="column px-0 py-0 mx-1 my-2">
                    <div class="tags is-justify-content-left" style="position:relative;">
                        {% for tag in event.tagsinarray %}
                            {% if tag %}
                                <a class="tag shadow-box-1">#{{ tag }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
