<div class="column is-narrow is-one-third-desktop is-half-tablet is-relative scalup-hover transition-3ms">
{#    <a class="px-3 py-3 button is-small is-rounded is-success" style="position: absolute;bottom: 0; right: 0;z-index: 1;" onclick="document.querySelector('#modalEvent'+{{ event.id }}).classList.add('is-active')">#}
{#        <span class="icon">#}
{#            <i class="fas fa-info"></i>#}
{#        </span>#}
{#    </a>#}
    <div class="card is-relative has-background-black" style="height: 100%;">
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('event/edit_event_button.html.twig') }}
        {% endif %}
        <div class="card-image">
            <figure class="image is-3by1">
                {% if event.image %}
{#                    <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="Placeholder image">#}
                    <img src="{{ event.image }}" alt="" style="height: 100%;max-height: 100%;object-fit: fill;width: 100%">
                {% else %}
                    <img src="{{ asset('build/images/720x240.8013db28.png') }}" alt="Placeholder image">
                {% endif %}
            </figure>
            <div class="column has-background-success-light has-text-success has-text-centered has-text-weight-bold is-uppercase">
                {{ event }}
            </div>
        </div>

        <div class="column has-background-black slider-container-child px-0 py-0">
            {% if event.ticketingLink %}
                <div class="column is-flex is-justify-content-center is-align-items-center">
                    <a href="{{ event.ticketingLink }}" target="_blank" class="button is-fullwidth is-success is-rounded px-4 py-4 is-flex is-justify-content-center is-align-items-center">
                        <span class="icon is-large">
                            <i class="fas fa-lg fa-ticket"></i>
                        </span>
                        <span class="is-size-7-touch">
                            {% trans %}Reservation{% endtrans %}
                        </span>
                    </a>
                </div>
            {% endif %}

            <div class="column is-flex px-0 py-0">
                <div class="column has-text-centered is-expanded has-text-success is-flex is-justify-content-center is-align-items-center">
                    <span class="icon-text is-justify-content-center">
                        <span class="icon has-text-success is-hidden-touch">
                            <i class="fas fa-lg fa-map"></i>
                        </span>
                        <span class="has-text-success-light is-size-7-touch">
                            {{ event.adresse }}
                        </span>
                    </span>
                </div>
                <div class="is-flex is-justify-content-center is-align-items-center px-2 py-2">
                    <a href="https://www.google.fr/maps/search/{{ event.adresse }}" class="button is-primary is-outlined is-rounded px-4 py-4 is-flex is-justify-content-center is-align-items-center" onclick="window.open(this.href, 'newwindow', 'height=570,width=520');return false;">
                        <span  class="icon">
                            <i class="fas fa-lg fa-map-marker-alt"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="column is-flex px-0 py-0">
                <div class="column has-text-centered is-expanded has-text-success is-flex is-justify-content-center is-align-items-center">
                    <span class="icon-text is-justify-content-center">
                        <span class="icon has-text-success is-hidden-touch">
                            <i class="fas fa-lg fa-calendar-alt"></i>
                        </span>
                        <span class="has-text-success-light is-size-7-touch">
                            {{ event.datetime|format_datetime('full','short',locale=app.request.locale) }}
                        </span>
                    </span>
                </div>
                <div class="is-flex is-justify-content-center is-align-items-center px-2 py-2">
                    <a class="button is-primary is-outlined is-rounded px-4 py-4 is-flex is-justify-content-center is-align-items-center"  onclick="document.querySelector('#modalEvent'+{{ event.id }}).classList.add('is-active')">
                        <span class="icon">
                            <i class="fas fa-lg fa-bell"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="column">
                <div class="tags" style="z-index: 1">
                    {% for tag in event.tagsinarray %}
                        <a class="tag is-success" href="#{{ tag }}">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>

</div>