<div class="mb-5 box-shadow-bulma item-{{ count_1 }} is-hidden-desktop has-background-primary-light has-text-centered">
    <div class="is-flex is-flex-direction-row has-background-success-light"  style="height: 100%;">
        <figure class="image is-3by1" style="width: 100%">
            {% if event.image %}
                <img src="{{ asset('images/event_img/' ~ event.image) }}" alt="" style="height: 100%;max-height: 100%;object-fit: cover">
            {% else %}
                <img src="{{ asset('build/images/720x240.8013db28.png') }}" alt="" style="height: 100%;max-height: 100%;object-fit: cover">
            {% endif %}
        </figure>
    </div>
    <div class="column has-background-success-light is-flex is-align-items-center is-justify-content-center is-relative" style="z-index: 1;">
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('event/edit_event_button.html.twig') }}
        {% endif %}
        <h3 class="has-text-primary title has-text-weight-bold">
            {{ event.title }}
        </h3>
    </div>
    <div class="column has-background-success-light slider-container-child is-flex-desktop is-justify-content-space-between has-text-centered">
        <div class="column is-flex is-align-items-center is-justify-content-center px-0 py-0">
            <a href="https://www.google.fr/maps/search/{{ event.adresse }}" class="has-text-success" onclick="window.open(this.href, 'newwindow', 'height=570,width=520');return false;">
                <span>
                    {{ event.adresse }}
                </span>
                <span  class="icon">
                    <i class="fas fa-lg fa-map-marker-alt"></i>
                </span>
            </a>
        </div>
        <div class="column is-flex is-align-items-center is-justify-content-center px-0 py-0">
            <a class="has-text-success" onclick="document.querySelector('#modalEvent'+{{ event.id }}).classList.add('is-active')">
                <span>
                    {{ event.datetime|format_datetime('full','short',locale=app.request.locale) }}
                </span>
                <span  class="icon">
                    <i class="fas fa-lg fa-calendar-alt"></i>
                </span>
            </a>
        </div>
    </div>
</div>
