<div class="" style="height: 100%;">
    <div class="has-background-primary-light item-{{ count_2 }}" style="height: 100%;">
        <div class="is-flex is-flex-direction-row has-background-success-light is-relative"  style="height: 100%;">
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('event/edit_event_button.html.twig') }}
            {% endif %}
            <figure class="is-3by1" style="height: 100%;width: 50%">
            {% if event.image %}
{#                <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="" style="height: 100%;width: 100%;object-fit: fill">#}
                <img src="{{ event.image }}" alt="" style="height: 100%;max-height: 100%;object-fit: fill;width: 100%">
            {% else %}
                <img src="{{ asset('build/images/720x240.8013db28.png') }}" alt="" style="height: 100%;width: 100%;object-fit: fill">
            {% endif %}
            </figure>
            <div class="column has-background-success-light slider-container-child is-flex is-flex-direction-column">
                <h3 class="has-text-primary title has-text-weight-bold">
                    {{ event.title }}
                </h3>
                <div class="column is-flex is-align-items-center px-0 py-0">
                    <div class="has-text-success column px-0 py-0">
                        <span  class="icon has-text-primary">
                            <i class="fas fa-lg fa-map"></i>
                        </span>
                        <span>
                            {{ event.adresse }}
                        </span>
                    </div>
                </div>
                <div class="column is-flex is-align-items-center px-0 py-0">
                    <div class="has-text-success column px-0 py-0">
                        <span  class="icon has-text-primary">
                            <i class="fas fa-lg fa-calendar-alt"></i>
                        </span>
                        <span>
                            {{ event.datetime|format_datetime('full','short',locale=app.request.locale) }}
                        </span>
                    </div>
                </div>
                <div class="tags is-justify-content-end" style="z-index: ">
                    {% for tag in event.tagsinarray %}
                        <a class="tag is-success" href="#{{ tag }}">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
