{% extends 'base.html.twig' %}

{% block title %}{% trans %}Event index{% endtrans %}{% endblock %}

{% block body %}


    <h1 class="title has-text-white has-text-centered pt-3">{% trans %}Event index{% endtrans %}</h1>

    <div class="column is-flex-tablet is-justify-content-center is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('event_home') }}">{{ 'Back to Events page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('event_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Datetime{% endtrans %}</th>
                <th>{% trans %}Country{% endtrans %}</th>
                <th>{% trans %}City{% endtrans %}</th>
                <th>{% trans %}Post code{% endtrans %}</th>
                <th>{% trans %}Street{% endtrans %}</th>
                <th>{% trans %}Reservation link{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.datetime ? event.datetime|date('d/m/Y H:i') : '' }}</td>
                    <td>{{ event.country }}</td>
                    <td>{{ event.city }}</td>
                    <td>{{ event.cp }}</td>
                    <td>{{ event.street }}</td>
                    <td>{{ event.ticketingLink }}</td>
                    <td>
                        {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'show', 'entity' : event, 'entity_type' : 'event', 'text': 'Show'|trans } %}
                        {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'edit', 'entity' : event, 'entity_type' : 'event', 'text': 'Edit'|trans } %}
                        {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'delete', 'entity' : event, 'entity_type' : 'event', 'text': 'Delete event'|trans, 'confirm_msg': 'Are you sure you want to delete this item?'|trans } %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">{% trans %}no records found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column is-flex-tablet is-justify-content-center is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('event_home') }}">{{ 'Back to Events page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('event_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

{% endblock %}
