{% extends 'base.html.twig' %}

{% block title %}{% trans %}Event index{% endtrans %}{% endblock %}

{% block body %}


    <h1 class="title has-text-white">{% trans %}Event index{% endtrans %}</h1>

    <div class="column is-flex-tablet is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('event_home') }}">{{ 'Back to Events page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('event_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Datetime{% endtrans %}</th>
                <th>{% trans %}Country{% endtrans %}</th>
                <th>{% trans %}City{% endtrans %}</th>
                <th>{% trans %}Post code{% endtrans %}</th>
                <th>{% trans %}Street{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.datetime ? event.datetime|date('d/m/Y H:i') : '' }}</td>
                    <td>{{ event.country }}</td>
                    <td>{{ event.city }}</td>
                    <td>{{ event.cp }}</td>
                    <td>{{ event.street }}</td>
                    <td>
                        <a href="{{ path('event_show', {'id': event.id}) }}">{% trans %}show{% endtrans %}</a>
                        <a href="{{ path('event_edit', {'id': event.id}) }}">{% trans %}edit{% endtrans %}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">{% trans %}no records found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column is-flex-tablet is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('event_home') }}">{{ 'Back to Events page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('event_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

{% endblock %}
