{% set event = events|first %}
{% if event %}
    <div class="is-relative column">
        <h2 class="has-text-centered is-size-3 is-size-5-touch has-text-weight-bold next-event-logo is-uppercase has-background-success-light box-shadow-bulma-dark is-relative">
            {% if app.request.locale == 'fr' %}
                <span style="--i:1">P</span>
                <span style="--i:2">r</span>
                <span style="--i:3">o</span>
                <span style="--i:4">c</span>
                <span style="--i:5">h</span>
                <span style="--i:6">a</span>
                <span style="--i:7">i</span>
                <span style="--i:8">n</span>
                <span style="--i:9">e</span>
                <span style="--i:10">m</span>
                <span style="--i:11">e</span>
                <span style="--i:12">n</span>
                <span style="--i:13">t</span>
            {% else %}
                <span style="--i:1">N</span>
                <span style="--i:2">e</span>
                <span style="--i:3">x</span>
                <span style="--i:4">t</span>
                <span style="--i:5">&nbsp;E</span>
                <span style="--i:6">v</span>
                <span style="--i:7">e</span>
                <span style="--i:8">n</span>
                <span style="--i:9">t</span>
            {% endif %}
        </h2>


            <div class="" id="majorEvent">
                <div class="is-flex is-flex-direction-column"  style="height: 100%;">
                    <figure class="image is-3by1">
                        {% if event.image %}
                            <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="" style="height: 100%;max-height: 100%;object-fit: fill">
                        {% else %}
                            <img src="https://bulma.io/images/placeholders/720x240.png" alt="" style="height: 100%;max-height: 100%;object-fit: fill">
                        {% endif %}
                    </figure>

                    <div class="borderless is-relative">
                        {% if is_granted('ROLE_ADMIN') %}
                            {% include 'includes/edit_entity_button.html.twig' with {'entity' : event, 'entity_type' : 'event' } %}
                        {% endif %}
                        <div class="column px-0 py-0 mx-1 my-2" style="z-index: 1;">
                            <div class="is-flex is-align-items-center shadow-box-1 my-2">
                                <div class="has-text-centered has-text-success has-text-weight-bold is-size-5 column py-1">
                                    <span>
                                        {{ event.title }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="column slider-container-child is-flex-desktop is-justify-content-space-between px-0 py-0">

                            <a href="https://www.google.fr/maps/search/{{ event.adresse }}" class="column px-0 py-0 mx-1 my-2 is-flex is-justify-content-center is-align-items-center rotationX transition-3ms" onclick="window.open(this.href, 'newwindow', 'height=570,width=520');return false;">
                                <div class="shadow-box-1 is-fullwidth is-height-100-percent column is-flex is-justify-content-center is-align-items-center is-size-4">
                                    <span class="icon is-large">
                                        <i class="fas fa-lg fa-location-dot"></i>
                                    </span>
                                    <span>
                                        {% trans %}Location{% endtrans %}
                                    </span>
                                </div>
                            </a>

                            <div class="column px-0 py-0 mx-1 my-2 is-flex is-justify-content-center is-align-items-center rotationX transition-3ms" onclick="document.querySelector('#modalEvent'+{{ event.id }}).classList.add('is-active')">
                                <a class="shadow-box-1 is-fullwidth is-height-100-percent column is-flex is-justify-content-center is-align-items-center is-size-4">
                                    <span class="icon is-large">
                                        <i class="fas fa-lg fa-calendar-alt"></i>
                                    </span>
                                    <span>
                                        {% trans %}Calendar{% endtrans %}
                                    </span>
                                </a>
                            </div>

                            {% if event.ticketingLink %}
                                <div class="column px-0 py-0 mx-1 my-2 is-flex is-justify-content-center is-align-items-center rotationX transition-3ms">
                                    <a href="{{ event.ticketingLink }}" target="_blank" class="shadow-box-1 is-fullwidth is-height-100-percent column is-flex is-justify-content-center is-align-items-center is-size-4">
                                        <span class="icon is-large">
                                            <i class="fas fa-lg fa-ticket"></i>
                                        </span>
                                        <span>
                                            {% trans %}Reservation{% endtrans %}
                                        </span>
                                    </a>
                                </div>
                            {% endif %}

                        </div>

                        <div class="column px-0 py-0 mx-1 my-2">
                            <div class="tags is-justify-content-left">
                                {% for tag in event.tagsinarray %}
                                    {% if tag %}
                                        <a class="tag shadow-box-1">#{{ tag }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
            </div>

    </div>
{% elseif not event %}
    {{ include('includes/no_content.html.twig') }}
{% endif %}
