{% extends 'base.html.twig' %}

{% block title %}{% trans %}Event{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="subtitle has-text-white has-text-centered pt-3">{% trans %}Event{% endtrans %}<b> {{ event }}</b></h1>

    <div class="column is-flex-tablet is-flex-direction-row is-justify-content-center">
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'index', 'entity' : event, 'entity_type' : 'event', 'text': 'Back to Events list'|trans } %}
        </div>
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'edit', 'entity' : event, 'entity_type' : 'event', 'text': 'Edit'|trans } %}
        </div>
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'delete', 'entity' : event, 'entity_type' : 'event', 'text': 'Delete event'|trans, 'confirm_msg':'Are you sure you want to delete this item?'|trans } %}
        </div>
    </div>

<div class="table-container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>{% trans %}Date{% endtrans %}</th>
                <td>{{ event.datetime ? event.datetime|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Time{% endtrans %}</th>
                <td>{{ event.datetime ? event.datetime|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Country{% endtrans %}</th>
                <td>{{ event.country }}</td>
            </tr>
            <tr>
                <th>{% trans %}City{% endtrans %}</th>
                <td>{{ event.city }}</td>
            </tr>
            <tr>
                <th>{% trans %}Code post{% endtrans %}</th>
                <td>{{ event.cp }}</td>
            </tr>
            <tr>
                <th>{% trans %}Street{% endtrans %}</th>
                <td>{{ event.street }}</td>
            </tr>
            <tr>
                <th>{% trans %}Subscribers{% endtrans %}</th>
                <td>
                    <div class="select is-multiple is-fullwidth">
                        <select multiple size="5">
                            {% for subscriber in event.mailsToRemind %}
                                <option value="{{ subscriber }}">{{ subscriber }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
