{% extends 'base.html.twig' %}

{% block title %}{% trans %}Event{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="has-text-white subtitle">{% trans %}Event{% endtrans %}<b> {{ event }}</b></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>{% trans %}Date & time{% endtrans %}</th>
                <td>{{ event.datetime ? event.datetime|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Country{% endtrans %}</th>
                <td>{{ event.country }}</td>
            </tr>
            <tr>
                <th>{% trans %}City{% endtrans %}</th>
                <td>{{ event.city }}</td>
            </tr>
            <tr>
                <th>{% trans %}Code post{% endtrans %}</th>
                <td>{{ event.cp }}</td>
            </tr>
            <tr>
                <th>{% trans %}Street{% endtrans %}</th>
                <td>{{ event.street }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('events_index') }}">{% trans %}back to events list{% endtrans %}</a>

    <a href="{{ path('events_edit', {'id': event.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
