{% extends 'base.html.twig' %}

{% block title %}{% trans %}Picture list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title has-text-white has-text-centered pt-3">{% trans %}Picture list{% endtrans %}</h1>

    <div class="column is-flex is-justify-content-center is-flex-direction-row">
        <div class="px-1 py-1">
{#            <a class="button is-outlined has-text-weight-bold is-rounded p-3 m-1" href="{{ path('gallery_index') }}">{{ 'Back to Gallery page'|trans }}</a>#}
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'index', 'entity' : null, 'entity_type' : 'gallery', 'type':'success', 'text': 'Back to Gallery page'|trans } %}
        </div>
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'new', 'entity' : null, 'entity_type' : 'picture', 'text': 'Add'|trans } %}
        </div>
    </div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.title }}</td>
                <td>{{ picture.image }}</td>
                <td>{{ picture.updatedAt ? picture.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'show', 'entity' : picture, 'entity_type' : 'picture', 'text': 'Show'|trans } %}
                    {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'edit', 'entity' : picture, 'entity_type' : 'picture', 'text': 'Edit'|trans } %}
                    {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'delete', 'entity' : picture, 'entity_type' : 'picture', 'text': 'Delete'|trans, 'confirm_msg':'Are you sure you want to delete this item?'|trans} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <div class="column is-flex is-justify-content-center is-flex-direction-row">
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'index', 'entity' : null, 'entity_type' : 'gallery', 'type':'success', 'text': 'Back to Gallery page'|trans } %}
        </div>
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'new', 'entity' : null, 'entity_type' : 'picture', 'text': 'Add'|trans } %}
        </div>
    </div>
{% endblock %}
