{% extends 'base.html.twig' %}

{% block title %}{% trans %}Picture list{% endtrans %}{% endblock %}

{% block body %}
<h1 class="title has-text-white">{% trans %}Picture list{% endtrans %}</h1>

    <div class="column is-flex-tablet is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('gallery_index') }}">{{ 'Back to Gallery page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('picture_new') }}">{{ 'Add a new picture'|trans }}</a>
        </div>
    </div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.title }}</td>
                <td>{{ picture.image }}</td>
                <td>{{ picture.updatedAt ? picture.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('picture_show', {'id': picture.id}) }}">show</a>
                    <a href="{{ path('picture_edit', {'id': picture.id}) }}">edit</a>
                    {{ include('picture/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <div class="column is-flex-tablet is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('gallery_index') }}">{{ 'Back to Gallery page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('picture_new') }}">{{ 'Add a new picture'|trans }}</a>
        </div>
    </div>
{% endblock %}
