{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block body %}

    <div class="is-relative">
        <div class="ancrage-home-sections" id="welcome"></div>
        {{ include('home/sections/welcome.html.twig') }}
    </div>

    <div class="is-relative">
        <div class="ancrage-home-sections" id="news"></div>
        {{ include('home/sections/news.html.twig') }}
    </div>

    <div class="is-relative">
        <div class="ancrage-home-sections" id="events"></div>
        {{ include('home/sections/events.html.twig') }}
    </div>

    <div class="is-relative">
        <div class="ancrage-home-sections" id="mediatheque"></div>
        {{ include('home/sections/mediatheque.html.twig') }}
    </div>

    <div class="is-relative">
        <div class="ancrage-home-sections" id="mbMinistry"></div>
        {{ include('home/sections/mb_ministry.html.twig') }}
    </div>











{% endblock %}
