{% extends 'base.html.twig' %}

{% block meta_description %}{% trans %}Browse the different sections of the site of the pastor and cantor Marcel BOUNGOU{% endtrans %}{% endblock %}
{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block body %}

    <div class="is-relative has-background-black">
        <div class="ancrage-home-sections" id="welcome"></div>
        {{ include('home/sections/welcome.html.twig') }}
    </div>

    <div class="is-relative has-background-black">
        {{ include('home/sections/news.html.twig') }}
    </div>

    <div class="is-relative">
        {{ include('home/sections/events.html.twig') }}
    </div>

    <div class="is-relative">
        {{ include('home/sections/mediatheque.html.twig') }}
    </div>

    <div class="is-relative">
        {{ include('home/sections/mb_ministry.html.twig') }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script>#}
{#        function onSubmit(token) {#}
{#            console.log(token);#}
{#            document.getElementsByName("contact").submit();#}
{#        }#}
{#    </script>#}
    {#   GOOGLE RECAPTCHA   #}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_client }}"></script>
    <script>
        function onClick(e) {
            e.preventDefault();
            grecaptcha.ready(function() {
                grecaptcha.execute('{{ recaptcha_client }}', {action: 'submit'}).then(function(token) {
                    // Add your logic to submit to your backend server here.
                });
            });
        }
    </script>
{% endblock %}
