{% extends 'base.html.twig' %}

{% block title %}{% trans %}Music list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title has-text-white">{% trans %}Music list{% endtrans %}</h1>

    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}File{% endtrans %}</th>
                <th>{% trans %}Album{% endtrans %}</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for music in music %}
                <tr>
                    <td>{{ music.id }}</td>
                    <td>{{ music.titre }}</td>
                    <td>{{ music.MusicName }}</td>
                    <td>
                        {% if music.album %}
                            <a class="has-text-success" href="{{ path('album_edit', {'id': music.album.id}) }}">{{ music.album }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('music_show', {'id': music.id}) }}">{% trans %}show{% endtrans %}</a>
                        <a href="{{ path('music_edit', {'id': music.id}) }}">{% trans %}edit{% endtrans %}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{% trans %}no records found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column">
        <a class="button is-success" href="{{ path('music_new') }}">{% trans %}Create new{% endtrans %}</a>
    </div>

{% endblock %}
