{% extends 'base.html.twig' %}

{% block title %}{% trans %}Music{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title has-text-white">{% trans %}Music{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ music.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Titre{% endtrans %}</th>
                <td>{{ music.titre }}</td>
            </tr>
            <tr>
                <th>{% trans %}File{% endtrans %}</th>
                <td>
                    {% if music.musicName %}
                        <audio src="{{ vich_uploader_asset(music, 'musicFile') }}" controls></audio>
                    {% endif %}
                    <span class="help">{{ music.musicName }}</span>
                </td>
            </tr>
            <tr>
                <th>{% trans %}Album{% endtrans %}</th>
                <td>{{ music.album }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('music_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a href="{{ path('music_edit', {'id': music.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('music/_delete_form.html.twig') }}
{% endblock %}
