{% extends 'base.html.twig' %}

{% block title %}{% trans %}Book index{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="has-text-white title">{% trans %}Book index{% endtrans %}</h1>

    <div class="column">
        <a class="button is-success" href="{{ path('book_new') }}">{% trans %}Create new{% endtrans %}</a>
    </div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Summary{% endtrans %}</th>
                <th>{% trans %}Shop link{% endtrans %}</th>
                <th>{% trans %}Tags{% endtrans %}</th>
                <th>{% trans %}Image{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.redirectLink }}</td>
                <td>{{ book.tags }}</td>
                <td>{{ book.image }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <div class="column">
        <a class="button is-success" href="{{ path('book_new') }}">{% trans %}Create new{% endtrans %}</a>
    </div>

{% endblock %}
