{% extends 'base.html.twig' %}

{% block title %}{% trans %}Book index{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title has-text-white has-text-centered pt-3">{% trans %}Book index{% endtrans %}</h1>

    <div class="column is-flex-tablet is-justify-content-center is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('bibliography_index') }}">{{ 'Back to Bibliography page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('book_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Summary{% endtrans %}</th>
                <th>{% trans %}Shop link{% endtrans %}</th>
                <th>{% trans %}Tags{% endtrans %}</th>
                <th>{% trans %}Image{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.redirectLink }}</td>
                <td>{{ book.tags }}</td>
                <td>{{ book.image }}</td>
                <td>
                    {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'show', 'entity' : book, 'entity_type' : 'book', 'text': 'Show'|trans } %}
                    {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'edit', 'entity' : book, 'entity_type' : 'book', 'text': 'Show'|trans } %}
                    {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'delete', 'entity' : book, 'entity_type' : 'book', 'text': 'Delete book'|trans, 'confirm_msg': 'Are you sure you want to delete this item?'|trans } %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <div class="column is-flex-tablet is-justify-content-center is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('bibliography_index') }}">{{ 'Back to Bibliography page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('book_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

{% endblock %}
