<div class="box has-background-success-light">

    <h3 class="subtitle has-text-centered">{{ book.title }}</h3>

    <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-center">
        <div class="column is-two-thirds is-half-mobile" style="margin: auto;">
            <figure class="image is-4by5">
                {% if book.image %}
                    <img src="{{ vich_uploader_asset(book, 'imageFile') }}">
                {% else %}
                    <img src="https://bulma.io/images/placeholders/480x600.png">
                {% endif %}
            </figure>
        </div>

        {% if book.imageverso %}
            <div class="column is-two-thirds is-half-mobile" style="margin: auto;">
                <figure class="image is-4by5">
                    <img src="{{ vich_uploader_asset(book, 'imageVersoFile') }}">
                </figure>
            </div>
        {% endif %}

    </div>


    <div class="column">
        {% if book.description %}
            <div class="column">
                <p class="has-text-grey">
                    {{ book.description }}
                </p>
            </div>
        {% endif %}

        {% if book.redirectlink %}
            <div class="column">
                <a href="{{ book.redirectlink }}" class="button is-success">
                    {% trans %}Go to shop{% endtrans %}
                </a>
            </div>
        {% endif %}
    </div>

</div>
