{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1 class="subtitle has-text-white has-text-centered pt-3">{{ 'Book'|trans }}</h1>

    <div class="column is-flex-tablet is-flex-direction-row is-justify-content-center">
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'index', 'entity' : book, 'entity_type' : 'book', 'text': 'Back to Books list'|trans } %}
        </div>
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'edit', 'entity' : book, 'entity_type' : 'book', 'text': 'Edit'|trans } %}
        </div>
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'delete', 'entity' : book, 'entity_type' : 'book', 'text': 'Delete book'|trans, 'confirm_msg':'Are you sure you want to delete this item?'|trans } %}
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Redirect_link</th>
                <td>{{ book.redirectLink }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ book.tags }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ book.image }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ book.updatedAt ? book.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
