    <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center is-relative box-shadow-bulma">
        <input type="date" class="bulma-calendar bulma-calendar-1 is-small">
        {% if events is defined %}
            {% for event in events %}
                <div class="highlight-info is-hidden has-background-success has-text-light px-3 py-3 highlight-{{ event.id }} box-shadow-bulma" id="{{ event.datetime|date('d/m/Y') }}">
                    <button class="delete" style="position: absolute;top: .5rem;right: .5rem" onclick="this.parentElement.classList.add('is-hidden')"></button>
                    <a class="has-text-light mb-2" onclick="document.querySelector('#modalEvent'+{{ event.id }}).classList.add('is-active')">
                        <h3 class="has-text-weight-bold">
                            {{ event.title }}
                        </h3>
                        <p class="help">
                            {% if app.request.locale == 'fr' %}
                                {{ event.datetime|date('d/m/Y - H:i') }}
                            {% elseif app.request.locale == 'en' %}
                                {{ event.datetime|date('m/d/Y - h:i a') }}
                            {% else %}
                                {{ event.datetime|date('d/m/Y - H:i') }}
                            {% endif %}
                            ({% trans %}Paris time{% endtrans %})
                        </p>
                        <span class="help">
                            {{ event.description|raw|length > 100 ? event.description|slice(0, 100) ~ '...' : event.description|raw }}
                        </span>
                    </a>


                    {#
                    <br>
                    {% set title = 'Titre de l\'evenement !' %}
                    {% set date = '20220128T193000Z/20220128T203000Z' %}
                    {% set time_zone = 'FR' %}
                    {% set description = 'Test de description' %}
                    {% set adresse = '136 rue Georges le du, 91100, Corbeil-Essonnes' %}
                    <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{ title }}&dates={{ date }}&ctz={{ time_zone }}&details={{ description }}&location={{ adresse }}" class="addToCalendar button is-small is-primary is-light" onclick="window.open(
                        this.href,
                        'newwindow',
                        'width=850,height=650');
                        return false;"
                    >{% trans %}Add to Calendar{% endtrans %}</a>
                    #}

                    <div class="has-text-centered mt-2">
                        <button class="button is-success is-light" onclick="document.querySelector('#modalEvent'+{{ event.id }}).classList.add('is-active')">
                        <span class="icon">
                            <i class="far fa-bell"></i>
                        </span>
                            <span>
                            {% trans %}To be reminded{% endtrans %}
                        </span>
                        </button>
                    </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>



