{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center has-background-danger-light is-relative">
        <input type="date" class="bulma-calendar bulma-calendar-1 is-small">
        {% if events is defined %}
            {% for event in events %}
                <div class="highlight-info is-hidden has-text-light px-3 py-3" id="{{ event.datetime|date('d/m/Y') }}">
                   {% trans %} HIGHLIGHT {% endtrans %} : {{ event.title }}
                    <br>
                    {% if app.request.locale == 'fr' %}
                        {{ event.datetime|date('d/m/Y - H:i') }}
                    {% elseif app.request.locale == 'en' %}
                        {{ event.datetime|date('m/d/Y - h:i a') }}
                    {% else %}
                        {{ event.datetime|date('d/m/Y - H:i') }}
                    {% endif %}
                    <p class="help">
                        {{ event.description }}
                    </p>
                    {#
                    <br>
                    {% set title = 'Titre de l\'evenement !' %}
                    {% set date = '20220128T193000Z/20220128T203000Z' %}
                    {% set time_zone = 'FR' %}
                    {% set description = 'Test de description' %}
                    {% set adresse = '136 rue Georges le du, 91100, Corbeil-Essonnes' %}
                    <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{ title }}&dates={{ date }}&ctz={{ time_zone }}&details={{ description }}&location={{ adresse }}" class="addToCalendar button is-small is-primary is-light" onclick="window.open(
                        this.href,
                        'newwindow',
                        'width=850,height=650');
                        return false;"
                    >{% trans %}Add to Calendar{% endtrans %}</a>
                    #}
                    <div class="column px-0 is-flex is-justify-content-end">
                        <a href="{{ asset('documents/events_files/') }}{{ event.icsFile }}" target="_blank" download="{{ event.icsFile }}" type=".ics" class="addToCalendar button is-small is-primary is-light" title="{% trans %}Add to Calendar{% endtrans %}">
                            <span class="icon">
                                <i class="fas fa-lg fa-calendar-day"></i>
                            </span>
                            <span>.ics</span>
                        </a>
                    </div>


                    <div class="has-text-centered">
                        <div class="is-fullwidth has-text-light">
                            <span class="icon">
                                <i class="far fa-bell"></i>
                            </span>
                            <span>{% trans %}I want to be called back by email{% endtrans %}</span>
                        </div>
                        <form action="{{ path('events_add_email_reminder', {'id': event.id}) }}" method="post" class="">
                            <div class="field">
                                <input type="email" class="input is-small has-text-centered" placeholder="{% trans %}my@email.com{% endtrans %}" name="email">
                            </div>
                            <div class="is-flex is-justify-content-space-between">
                                <a href="{{ path('events_remove_email_reminder', {'id': event.id}) }}" class="help has-text-light">
                                    <span class="icon">
                                        <i class="far fa-bell-slash"></i>
                                    </span>
                                    <span>
                                        {% trans %}remove reminder{% endtrans %}
                                    </span>
                                </a>
                                <button class="button is-small">{% trans %}Subscribe{% endtrans %}</button>
                            </div>
                        </form>
                    </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
