{#
<div class="px-3 py-3 is-flex is-align-items-center is-justify-content-space-between box-shadow-bulma" id="header">

    <div id="logo">
        <a href="{{ path('home_index') }}" class="has-text-light">
            Logo
        </a>
    </div>

    <div class="header-end is-flex is-justify-content-space-evenly is-align-items-center">
        {% if app.user %}
            <span class="tags has-addons">
                <a href="#" class="tag">
                    {{ app.user.username }}
                </a>
                <a class="tag is-danger" href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
            </span>
        {% endif %}
        {{ include('includes/select_locale.html.twig') }}
    </div>

</div>
#}

<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{{ path('home_index') }}" class="navbar-item has-text-light">
            Logo
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu has-text-centered-touch">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('home_index') }}">
                {% trans %}Home{% endtrans %}
            </a>

            <a class="navbar-item">
                {% trans %}Shop{% endtrans %}
            </a>

            <a class="navbar-item">
                {% trans %}Events{% endtrans %}
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {% trans %}Media{% endtrans %}
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        {% trans %}Discography{% endtrans %}
                    </a>
                    <a class="navbar-item">
                        {% trans %}Bibliography{% endtrans %}
                    </a>
                    <a class="navbar-item">
                        {% trans %}Gallery{% endtrans %}
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {% trans %}MB Ministry{% endtrans %}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        {% trans %}Biography{% endtrans %}
                    </a>
                    <a class="navbar-item">
                        {% trans %}Contact{% endtrans %}
                    </a>
                    <a class="navbar-item">
                        {% trans %}Partners{% endtrans %}
                    </a>
                </div>
            </div>


        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {% if app.user %}
                    <div class="">
                        <a class="button is-small is-primary is-light is-size-6-touch" href="{{ path('user_edit', {'id': app.user.id}) }}">
                            <strong>{{ app.user.username }}</strong>
                        </a>
                        <a class="button is-small is-danger is-size-6-touch" href="{{ path('app_logout') }}">
                            {% trans %}Logout{% endtrans %}
                        </a>
                    </div>
                {% else %}
                    <div class="">
                        <a class="button is-small is-primary is-size-6-touch" href="{{ path('app_register') }}">
                            <strong>{% trans %}Sign up{% endtrans %}</strong>
                        </a>
                        <a class="button is-small is-light is-size-6-touch" href="{{ path('app_login') }}">
                            {% trans %}Log in{% endtrans %}
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="navbar-item">
                {{ include('includes/select_locale.html.twig') }}
            </div>
        </div>
    </div>
</nav>
