<nav class="navbar is-primary is-fixed-top box-shadow-bulma" role="navigation" aria-label="main navigation">
    <div class="nav-background">
        <img src="{{ asset('build/images/snowfall.fb18a3ec.jpg') }}" alt="">
        <div class="nav-background-layer"></div>
    </div>
    <div class="navbar-brand">
        <a href="{{ path('home_index') }}" class="navbar-item has-text-light is-expanded is-justify-content-center">
            Logo
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasic" class="navbar-menu has-text-centered-touch">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('home_index') }}">
                {% trans %}Home{% endtrans %}
            </a>

            <a class="navbar-item">
                {% trans %}Shop{% endtrans %}
            </a>

            <a class="navbar-item" href="{{ path('events_index') }}">
                {% trans %}Events{% endtrans %}
            </a>

            <hr class="dropdown-divider">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {% trans %}Media{% endtrans %}
                </a>

                <div class="navbar-dropdown">
                    <a href="{{ path('discography_index') }}" class="navbar-item">
                        {% trans %}Discography{% endtrans %}
                    </a>
                    <a href="{{ path('bibliography_index') }}" class="navbar-item">
                        {% trans %}Bibliography{% endtrans %}
                    </a>
                    <a href="{{ path('gallery_index') }}" class="navbar-item">
                        {% trans %}Gallery{% endtrans %}
                    </a>
                </div>
            </div>

            <hr class="dropdown-divider">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {% trans %}MB Ministry{% endtrans %}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        {% trans %}Biography{% endtrans %}
                    </a>
                    <a class="navbar-item">
                        {% trans %}Contact{% endtrans %}
                    </a>
                    <a class="navbar-item">
                        {% trans %}Partners{% endtrans %}
                    </a>
                </div>
            </div>

        </div>

        <hr class="dropdown-divider">

        <div class="navbar-end">
            {% if app.user %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <span class="navbar-link">
                        {{ app.user.username }}
                    </span>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ path('user_edit', {'id': app.user.id}) }}">
                            {% trans %}Edit my profile{% endtrans %}
                        </a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a class="navbar-item" href="{{ path('app_register') }}">
                                {% trans %}Add a Manager{% endtrans %}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <a class="navbar-item" href="{{ path('app_logout') }}">
                    {% trans %}Logout{% endtrans %}
                </a>
            {% endif %}
            <div class="navbar-item">
                {{ include('includes/select_locale.html.twig') }}
            </div>
        </div>
    </div>
</nav>
