<div class="column px-0 py-0">
    <a href="{{ asset('documents/events_files/') }}{{ event.icsFile }}" target="_blank" download="{{ event.icsFile }}" type=".ics" class="addToCalendar button is-small is-primary is-light" title="{% trans %}Add to Calendar{% endtrans %}">
        <span class="icon">
            <i class="fas fa-lg fa-calendar-day"></i>
        </span>
        <span>.ics</span>
    </a>
    <form action="{{ path('events_add_email_reminder', {'id': event.id}) }}" method="post" class="column px-0 py-0 is-half">
        <div class="field">
            <input type="email" class="input is-small has-text-centered" placeholder="{% trans %}my@email.com{% endtrans %}" name="email">
        </div>
        <div class="is-flex is-justify-content-space-between">
            <a href="{{ path('events_remove_email_reminder', {'id': event.id}) }}" class="help">
                <span class="icon">
                    <i class="far fa-bell-slash"></i>
                </span>
                <span>
                    {% trans %}remove reminder{% endtrans %}
                </span>
            </a>
            <button class="button is-small">{% trans %}Subscribe{% endtrans %}</button>
        </div>
    </form>
</div>
