<div class="parallax is-relative z-index-1" style="background: right no-repeat url({{ asset('build/images/sunset_pecheur.8372328f.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-black-layer">
        <div class="column" style="min-height: 100vh">
            <h3 class="subtitle is-2 has-text-success">WELCOME...</h3>
            <div class="container has-text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis doloremque dolores iure, maxime praesentium quidem repellendus. A deleniti hic id inventore, minima minus placeat possimus praesentium quasi rerum veniam.
            </div>
        </div>
    </div>
</div>

<div class="column has-background-black" style="height: 10em"></div>

<div id="parallax-0" class="parallax" style="background: right no-repeat url({{ asset('build/images/palatasingers1.4e6d4fc8.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-success-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold" style="font-size: 13vw">{{ 'News'|trans }}</h2>
        </div>
    </div>
</div>

<div class="has-background-black">
    <div class="is-flex-desktop is-align-items-center">
        <div class="column is-half-desktop has-text-white is-flex is-flex-direction-column is-justify-content-center">
            <h2 class="subtitle is-4 has-text-white has-text-centered">{{ 'What is the latest news at MB Ministry'|trans }} ?</h2>
            {% set compteur = 0 %}
            <div style="max-height: 70vh;overflow: auto">
                {% for new in news|sort((a, b) => b.datetime <=> a.datetime) %}
                    {% if compteur < 5 %}
                        {{ include('news/news_article_box.html.twig') }}
                    {% endif %}
                    {% set compteur = compteur + 1 %}
                {% endfor %}
            </div>
            {#
            <div class="column">
                <a href="" class="button is-success is-light box-shadow-bulma has-text-weight-bold">{{ 'All news'|trans }} ...</a>
            </div>
            #}
        </div>
        <div class="column is-half-desktop">
            <figure class="" style="position:relative;height: 100vh;">
                <div style="position: absolute;top: 0;left: 0;height:100%;width: 100%;background: center / contain no-repeat url({{ asset('build/images/mb_cost_blue_1.4e43ac8e.jpg') }})"></div>
            </figure>
        </div>
    </div>
</div>

<div id="parallax-1" class="parallax" style="background: right no-repeat url({{ asset('build/images/palatasingers2.e391d9b6.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-success-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold" style="font-size: 13vw">{{ 'Media'|trans }}</h2>
        </div>
    </div>
</div>

<div class="has-background-black is-relative z-index-1" style="min-height: 100vh">
    <div class="column">
        <h3 class="subtitle is-2 has-text-success">Médiathèque</h3>
    </div>
</div>

<div id="parallax-2" class="parallax" style="background: right no-repeat url({{ asset('build/images/palatasingers1.4e6d4fc8.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-success-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold" style="font-size: 13vw">{{ 'Events'|trans }}</h2>
        </div>
    </div>
</div>

<div class="has-background-black is-relative z-index-1" style="min-height: 100vh">
    <div class="column">
        <h3 class="subtitle is-2 has-text-success">Événements</h3>
    </div>
</div>

<div id="parallax-3" class="parallax" style="background: right no-repeat url({{ asset('build/images/clouds.d2fcc683.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-success-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold" style="font-size: 13vw">{{ 'MB Ministry'|trans }}</h2>
        </div>
    </div>
</div>

<div class="has-background-black is-relative z-index-1" style="min-height: 100vh">
    <div class="column">
        <h3 class="subtitle is-2 has-text-success">MB Ministry</h3>
    </div>
</div>

<div id="parallax-4" class="parallax" style="background: right no-repeat url({{ asset('build/images/sunset.50dc6889.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-success-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold" style="font-size: 13vw">{{ 'MB Ministry'|trans }}</h2>
        </div>
    </div>
</div>

<div class="has-background-black is-relative z-index-1" style="min-height: 100vh">
    <div class="column">
        <h3 class="subtitle is-2 has-text-success">Contact / Subs Etc...</h3>
    </div>
</div>
