{% set flag_fr %}
    <img src="{{ asset('build/images/fr.e9608955.svg') }}" alt="Drapeau France">
{% endset %}
{% set flag_en %}
    <img src="{{ asset('build/images/en.1bba84f0.svg') }}" alt="Drapeau Royaume Unis">
{% endset %}

<div class="dropdown is-hoverable is-right">
    <div class="dropdown-trigger">
        <button class="button is-primary is-light is-small is-size-6-touch is-rounded" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon">
                    {{ attribute(_context,'flag_' ~ app.request.locale) }}
                </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="">
            {% for locale in locales %}
                {% if app.request.locale != locale %}
                    <a href="{{ path('change_locale', {'locale': locale }) }}" class="button is-primary is-light is-small is-size-6-touch is-rounded">
                        <span class="icon">
                            {{ attribute(_context,'flag_' ~ locale) }}
                        </span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
