{% set flag_fr %}
    <img src="{{ asset('build/images/fr.e9608955.svg') }}" style="height: 15px" alt="Drapeau France">
{% endset %}
{% set flag_en %}
    <img src="{{ asset('build/images/en.1bba84f0.svg') }}" style="height: 15px" alt="Drapeau Royaume Unis">
{% endset %}

<div class="dropdown is-hoverable is-right is-hidden-touch">
    <div class="dropdown-trigger">
        <div class="button borderless is-small is-success is-light is-size-6-touch" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon">
                {{ attribute(_context,'flag_' ~ app.request.locale) }}
            </span>
        </div>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="">
            {% for locale in locales %}
                {% if app.request.locale != locale %}
                    <a href="{{ path('change_locale', {'locale': locale }) }}" class="button borderless is-small is-outlined is-light is-size-6-touch">
                        <span class="icon">
                            {{ attribute(_context,'flag_' ~ locale) }}
                        </span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="is-hidden-desktop has-text-centered">
    <span class="help pb-3">{% trans %}Choose your language{% endtrans %}</span>
    <div class="buttons is-justify-content-center">
        {% for locale in locales %}

                <a href="{{ path('change_locale', {'locale': locale }) }}" class="button borderless is-light is-small {% if app.request.locale != locale %}is-outlined{% endif %}">
                    <span class="icon">
                        {{ attribute(_context,'flag_' ~ locale) }}
                    </span>
                </a>

        {% endfor %}
    </div>
</div>

