{% extends 'base.html.twig' %}

{% block title %}{{ 'Gallery'|trans }}{% endblock %}

{% block body %}

    {% for picture in pictures %}
        <div class="modal transition-5ms" id="modalPicture{{ picture.id }}">
            <div class="modal-background" onclick="this.parentElement.classList.remove('is-active')"></div>
            <div class="modal-content">
                {{ include('picture/modal_picture.html.twig') }}
            </div>
            <button class="modal-close is-large" aria-label="close" onclick="this.parentElement.classList.remove('is-active')"></button>
        </div>
    {% endfor %}

    <div class="section column is-full">
        <h1 class="title has-text-white">{% trans %}Gallery{% endtrans %}</h1>
        <h2 class="subtitle has-text-white">{% trans %}Browse all photos and illustrations{% endtrans %}</h2>
        <p class="has-text-white">
{#            {% trans %}Find all the musical collections, from the great classics to the most recent productions, including the essentials{% endtrans %}#}
{#            <br>#}
            {% trans %}Filter your search by writing a word in the search bar...{% endtrans %}
        </p>
    </div>

    <div class="column has-background-light is-full is-full-mobile search-bar">
        <div class="field">
            <div class="control has-icons-right has-icons-left is-relative">
                <input class="input" type="text" id="searchInput" onkeyup="searchFilter(['.picture-tag'])" placeholder="{% trans %}Type your search here{% endtrans %}">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
                <div class="show-password" onclick="resetSearch()">
                    <button class="button is-danger" style="width: 100%">
                        <i class="fas fa-lg fa-times mr-2"></i>
                        <span>
                            {{ 'reset filter'|trans }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% if pictures|length > 0 %}
        <div class="column is-full is-full-mobile">
            {{ include('gallery/picture_list.html.twig') }}
        </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="column">
            <a href="{{ path('picture_new') }}" class="button is-success">{{ 'Add a new picture'|trans }}</a>
        </div>
    {% endif %}

{% endblock %}


{% block javascripts %}
    <script>

        {# SCRIPT POUR BARRE DE RECHERCHE FILTRE JS #}
        function searchFilter(classes) {
            // Declare variables
            classes.forEach(function (classe) {
                if (classe !== null){
                    addClasseFilter(classe);
                }
            });
        }

        function addClasseFilter(classe) {
            var input, filter, tags, pictureContainer;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();

            pictureContainer = document.querySelectorAll('.picture-container');

            // Loop through all list items, and hide those who don't match the search query
            pictureContainer.forEach(function (container) {
                tags = container.querySelectorAll(classe);
                for (let i = 0;i < tags.length; i++){
                    console.log(tags[i]);
                    var tagElement = tags[i].innerText.toUpperCase();
                    if (tagElement.indexOf(filter) > -1) {
                        container.classList.remove('is-hidden');
                        container.classList.replace('opacity0', 'opacity100');
                        break
                    } else {
                        container.classList.add('is-hidden');
                        container.classList.replace('opacity100', 'opacity0')
                    }
                }
            });
        }
        {#                               #}

        {# SCRIPT ANCRAGE SEARCH ALBUM / MUSIQUES #}
        function searchAncrage(link) {
            var input = document.getElementById('searchInput');
            var ancrageTxt = link.querySelector('.picture-tag').getAttribute('data-href');
            input.value = ancrageTxt;
            searchFilter(['.picture-tag']);
        }

        {# SCRIPT RESET SEARCH #}
        function resetSearch() {
            var input = document.getElementById('searchInput');
            input.value = '';
            searchFilter(['.picture-tag']);
        }

    </script>
{% endblock %}
