<div class="container">
    <div class="columns is-multiline is-justify-content-center">
        {% for picture in pictures|sort %}
                <div class="column is-one-fifth-desktop is-one-third-tablet picture-container fade-effect transition-1s opacity0">
                    <div class="scalup-hover transition-1s is-relative">

                        {% if is_granted('ROLE_ADMIN') %}
                            {% include 'includes/edit_entity_button.html.twig' with {'entity' : picture, 'entity_type' : 'picture' } %}
                        {% endif %}

                        <div class="is-flex is-flex-direction-column has-background-black">

                            <figure class="image is-square pointer-hover" style="background: center / contain no-repeat url({% if picture.image %}{{ vich_uploader_asset(picture, 'imageFile') }}{% else %}{{ asset('build/images/no-pictures.4f531dc6.png') }}{% endif %})" onclick="document.getElementById('modalPicture'+{{ picture.id }}).classList.add('is-active')">
                            </figure>

                            {% if picture.tags|length > 0 %}
                                <div class="has-background-black">
                                    <div class="px-2 py-2">
                                        {% for tag in picture.tagsinarray %}
                                            {% if tag %}
                                                <a  class="tag is-success" onclick="searchAncrage(this)"><span>#</span><span class="picture-tag" data-href="{{ tag }}">{{ tag }}</span></a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="picture-name is-hidden">
                                {{ picture.title | default(picture.image) }}
                            </div>

                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>





