<div class="container">
    <div class="columns is-multiline is-justify-content-center">
        {% for picture in pictures|sort %}
            {% if picture.image %}
                <div class="column is-one-fifth-desktop is-one-third-tablet picture-container fade-effect transition-1s opacity0">
                    <div class="scalup-hover transition-1s is-relative">

                        {% if is_granted('ROLE_ADMIN') %}
                            {{ include('picture/edit_picture_button.html.twig') }}
                        {% endif %}

                        <div class="pointer-hover is-flex is-flex-direction-column has-background-black" onclick="document.getElementById('modalPicture'+{{ picture.id }}).classList.add('is-active')">


{#                                <img src="{{ vich_uploader_asset(picture, 'imageFile') }}">#}

                            <figure class="image is-square" style="background: center / contain no-repeat url({% if picture.image %}{{ vich_uploader_asset(picture, 'imageFile') }}{% else %}'https://bulma.io/images/placeholders/240x720.png'{% endif %})">
                            </figure>

                            {% if picture.tags|length > 0 %}
                                <div class="has-background-black">
                                    <div class="px-2 py-2">
                                        {% for tag in picture.tagsinarray %}
                                            {% if tag %}
                                                <a  class="tag is-success picture-tag" data-href="{{ tag }}">#{{ tag }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="picture-name">
                                {{ picture.title | default(picture.image) }}
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>





