<div id="parallax-2" class="parallax" style="background: center / cover no-repeat url({{ asset('build/images/tickets.83de2718.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-success-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold title-parallax">{{ 'Events'|trans }}</h2>
        </div>
    </div>
</div>

{% set event = nextEvent %}
{% if event %}
    <div class="modal" id="modalEvent{{ event.id }}">
        <div class="modal-background" onclick="this.parentElement.classList.remove('is-active')"></div>
        <div class="modal-content box has-background-success-light">
            {{ include('event/modal_event_details.html.twig') }}
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="this.parentElement.classList.remove('is-active')"></button>
    </div>
{% endif %}

<div class="has-background-black is-relative z-index-1">
    <div class="ancrage-home-sections" id="events"></div>
    <div class="section">
        <h3 class="subtitle is-2 has-text-white has-text-centered-tablet">{{ 'Stay up to date on MB events'|trans }}</h3>
        <p class="subtitle has-text-grey-light column p-0 is-two-thirds">{{ ''|trans }}</p>
        <div class="scale-up-fade column p-0 is-two-thirds-desktop margin-auto">
            {{ include('event/major_event.html.twig') }}
        </div>
        <div class="is-flex is-justify-content-center is-align-items-center has-text-centered">
            <div class="rotationX mt-6">
                <a href="{{ path('event_all') }}" class="shadow-box-1 column is-size-4 borderless has-text-weight-bold">
                    <span>{{ 'Visit events page'|trans }}</span>
                    <span class="icon">
                        <i class="fas fa-calendar-check"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
