<div id="parallax-2" class="parallax" style="background: center / cover no-repeat url({{ asset('build/images/tickets.83de2718.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-success-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold title-parallax">{{ 'Events'|trans }}</h2>
        </div>
    </div>
</div>

{% set event = events|first %}
<div class="modal" id="modalEvent{{ event.id }}">
    <div class="modal-background" onclick="this.parentElement.classList.remove('is-active')"></div>
    <div class="modal-content box has-background-success-light">
        {{ include('event/modal_event_details.html.twig') }}
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="this.parentElement.classList.remove('is-active')"></button>
</div>

<div class="has-background-black is-relative z-index-1">
    <div class="section">
        <p class="subtitle has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium, amet autem, corporis debitis, deleniti dicta dignissimos distinctio eaque fugiat iure sequi ullam vitae voluptatem voluptates. Expedita mollitia quibusdam similique.</p>
        <div class="scale-up-fade column p-0 is-two-thirds-desktop margin-auto">
            {{ include('event/major_event.html.twig') }}
        </div>
        <div class="is-flex is-justify-content-center is-align-items-center has-text-centered">
            <div class="rotationX">
                <a href="{{ path('event_home') }}" class="shadow-box-1 column is-size-4 is-success is-light box-shadow-bulma has-text-weight-bold">{{ 'Visit events page'|trans }}</a>
            </div>
        </div>
    </div>
</div>
