<div id="parallax-3" class="parallax" style="background: center no-repeat url({{ asset('build/images/younger_mb_4.6543a861.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-primary-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold" style="font-size: 13vw">{{ 'MB Ministry'|trans }}</h2>
        </div>
    </div>
</div>

<div class="is-relative">
    <div class="ancrage-home-sections" id="partners"></div>
    {{ include('home/sections/partners.html.twig') }}
</div>

<div class="has-background-black is-relative z-index-1" style="min-height: 100vh">

    <div class="ancrage-home-sections" id="bio"></div>
    <div class="column">
        <h3 class="subtitle is-2 has-text-white has-text-centered">Biography</h3>
        <div class="has-text-white container is-relative px-5">
            {% if app.request.locale == 'fr' %}
                {{ biography.content|raw }}
            {% else %}
                {{ biography.contentEn|raw }}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                {% include 'includes/edit_entity_button.html.twig' with {'entity' : biography, 'entity_type' : 'biography' } %}
            {% endif %}
        </div>
    </div>

    <div class="ancrage-home-sections" id="contact"></div>
    <div class="column">
        <h3 class="subtitle is-2 has-text-white has-text-centered">Contact</h3>
    </div>
</div>
