<div id="parallax-1" class="parallax" style="background: right no-repeat url({{ asset('build/images/vinyl.c7aa7d16.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-success-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold" style="font-size: 13vw">{{ 'Media'|trans }}</h2>
        </div>
    </div>
</div>

<div class="has-background-black is-relative z-index-1" style="min-height: 100vh">

    <div class="section">
        <h3 class="subtitle is-2 has-text-white has-text-centered">{{ 'Discography'|trans }}</h3>
        <p class="subtitle has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur at dolorem doloremque dolorum est ex expedita in magnam, nobis officiis provident reiciendis sit tempora ut velit vitae. Illum, velit.</p>
        <div class="is-flex-tablet is-flex-direction-row is-justify-content-center">
            {% for album in albums %}
                {% if loop.index <= 3 %}
                    {{ include('includes/album_box.html.twig') }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="has-text-centered">
            <a href="{{ path('discography_index') }}" class="button is-fullwidth is-size-6-mobile is-large has-text-weight-bold is-success">{{ 'Visit discography'|trans }}</a>
        </div>
    </div>

    <div class="section">
        <h3 class="subtitle is-2 has-text-white has-text-centered">{{ 'Bibliography'|trans }}</h3>
        <p class="subtitle has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur at dolorem doloremque dolorum est ex expedita in magnam, nobis officiis provident reiciendis sit tempora ut velit vitae. Illum, velit.</p>
        <div class="is-flex-tablet is-flex-direction-row is-justify-content-center">
            {% set book = books[random(books|length-1)] %}
            {{ include('includes/book_box.html.twig') }}
        </div>
        <div class="has-text-centered">
            <a href="{{ path('bibliography_index') }}" class="button is-fullwidth is-size-6-mobile is-large has-text-weight-bold is-success">{{ 'Visit bibliography'|trans }}</a>
        </div>
    </div>

    <div class="section">
        <h3 class="subtitle is-2 has-text-white has-text-centered">{{ 'Gallery'|trans }}</h3>
        <p class="subtitle has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur at dolorem doloremque dolorum est ex expedita in magnam, nobis officiis provident reiciendis sit tempora ut velit vitae. Illum, velit.</p>
        <div class="column">
            {{ include('gallery/gallery_carousel.html.twig') }}
        </div>
        <div class="has-text-centered">
            <a href="{{ path('gallery_index') }}" class="button is-fullwidth is-size-6-mobile is-large has-text-weight-bold is-success">{{ 'Visit Gallery'|trans }}</a>
        </div>
    </div>

</div>
