<div id="parallax-1" class="parallax" style="background: center / cover no-repeat url({{ asset('build/images/vinyl.f345c616.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-success-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold title-parallax">{{ 'Media'|trans }}</h2>
        </div>
    </div>
</div>

<div class="has-background-transparent is-relative z-index-1" style="min-height: 100vh">
    <div class="ancrage-home-sections" id="mediatheque"></div>
    <div class="ancrage-home-sections" id="discography"></div>
    <div class="section has-background-black">
        <h3 class="subtitle is-2 has-text-white has-text-centered-tablet">{{ 'Discography'|trans }}</h3>
        <p class="subtitle has-text-grey-light has-text-centered-tablet">{{ 'Find and listen to all the songs and praise of the artist. From the oldest classics to the latest productions'|trans }}</p>
        <div class="is-flex-tablet is-flex-direction-row is-justify-content-center is-align-items-center">
            {% for album in albums %}
                {% if loop.index <= 3 %}
                    {{ include('includes/album_box.html.twig') }}
                {% elseif albums|length == 0 %}
                        {{ include('includes/no_content.html.twig') }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="is-flex is-justify-content-center is-align-items-center has-text-centered">
            <div class="rotationX mt-6">
                <a href="{{ path('discography_index') }}" class="shadow-box-1 column is-size-4 borderless has-text-weight-bold">
                    <span>
                        {{ 'Visit discography'|trans }}
                    </span>
                    <span class="icon">
                        <i class="fas fa-compact-disc"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="ancrage-home-sections" id="bibliography"></div>
    <div class="section">
        <h3 class="subtitle is-2 has-text-white has-text-centered">{{ 'Bibliography'|trans }}</h3>
        <p class="subtitle has-text-grey-light has-text-centered-tablet">{{ 'Discover MB\'s books'|trans }}</p>
        <div class="is-flex-tablet is-flex-direction-row is-justify-content-center scale-up-fade">
            {% if books|length > 0 %}
                {% set book = books[random(books|length-1)] %}
                {{ include('includes/book_box.html.twig') }}
            {% elseif books|length == 0 %}
                {{ include('includes/no_content.html.twig') }}
            {% endif %}
        </div>
        <div class="is-flex is-justify-content-center is-align-items-center has-text-centered">
            <div class="rotationX mt-6">
                <a href="{{ path('bibliography_index') }}" class="shadow-box-1 column is-size-4 borderless has-text-weight-bold">
                    <span>
                        {{ 'Visit bibliography'|trans }}
                    </span>
                    <span class="icon">
                        <i class="fas fa-book-open"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="ancrage-home-sections" id="gallery"></div>
    <div class="section has-background-black">
        <h3 class="subtitle is-2 has-text-white has-text-centered">{{ 'Gallery'|trans }}</h3>
        <p class="subtitle has-text-grey-light has-text-centered-tablet">{{ 'Browse the artist\'s photos and illustrations'|trans }}</p>
        <div class="column" style="pointer-events: none">
            {% if pictures|length > 0 %}
                {{ include('gallery/gallery_carousel.html.twig') }}
            {% elseif pictures|length == 0 %}
                {{ include('includes/no_content.html.twig') }}
            {% endif %}
        </div>
        <div class="is-flex is-justify-content-center is-align-items-center has-text-centered">
            <div class="rotationX mt-6">
                <a href="{{ path('gallery_index') }}" class="shadow-box-1 column is-size-4 borderless has-text-weight-bold">
                    <span>
                        {{ 'Visit Gallery'|trans }}
                    </span>
                    <span class="icon">
                        <i class="fas fa-camera-alt"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>

</div>
