<div id="parallax-0" class="parallax" style="background: center / cover no-repeat url({{ asset('build/images/retro-microphone.d743201e.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-success-layer">
        <div class="column">
            <h2 class="title has-text-black has-text-centered py-5 has-text-weight-bold title-parallax">{{ 'News'|trans }}</h2>
        </div>
    </div>
</div>

<div class="z-index-1">
    <div class="parallax2 slide-fade-right smoothSlideLeft" style="background-size: contain !important;background: right no-repeat url({{ asset('build/images/mb_cost_blue_1.4e43ac8e.jpg') }})"></div>
    <div class="is-flex-tablet is-justify-content-center is-align-items-center is-relative has-background-black-layerless">
        <div class="column is-three-quarters-desktop is-flex-tablet is-flex-direction-column is-justify-content-center z-index-1" style="min-height: 100vh">
            <div class="section">
                <h3 class="subtitle is-2 has-text-white has-text-centered">{{ 'What is the latest news at MB Ministry'|trans }} ?</h3>
                <p class="subtitle has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur at dolorem doloremque dolorum est ex expedita in magnam, nobis officiis provident reiciendis sit tempora ut velit vitae. Illum, velit.</p>
            </div>
            <div class="p-2 slide-buttons-last-news has-text-centered pointer-hover" onclick="slideUpLastNews()">
                <span class="icon has-text-white is-size-2">
                    <i class="fas fa-angle-up"></i>
                </span>
            </div>
            {% set compteur = 0 %}
            <div class="slide-fade-left" style="max-height:50vh;overflow: hidden" id="lastNewsBox">
                <div class="column p-0 is-two-thirds margin-auto">
                    {% for new in news|sort((a, b) => b.datetime <=> a.datetime) %}
                        {% if compteur < 1 %}
                            {{ include('news/news_article_box.html.twig') }}
                        {% endif %}
                        {% set compteur = compteur + 1 %}
                    {% endfor %}
                </div>
            </div>
            <div class="p-4 slide-buttons-last-news has-text-centered pointer-hover" onclick="slideDownLastNews()">
                <span class="icon has-text-white is-size-2">
                    <i class="fas fa-angle-down"></i>
                </span>
            </div>
        </div>
        <div class="column is-hidden-touch"></div>
    </div>
    <div class="column is-flex is-justify-content-center is-align-items-center has-text-centered rotationX has-background-black">
        <a href="{{ path('news_all') }}" class="shadow-box-1 column is-one-third is-size-4 is-success is-light box-shadow-bulma has-text-weight-bold">{{ 'Visit news page'|trans }}</a>
    </div>
</div>

<div class="has-background-black is-relative">
    <div class="ancrage-home-sections" id="subscribeForm"></div>
    <div class="column is-flex is-justify-content-center has-background-black">
        {% include 'news/subs_form.html.twig' %}
    </div>
</div>
