<div class="z-index-1" style="margin-top: -4rem">
    <div style="background: 30vw /cover url({{ asset('build/images/black-monochrome-dark-text-symmetry-pattern-711352-wallhere.com.3552dc80.jpg') }});filter: contrast(1.5)" class="image-background-absolute"></div>
    <div class="parallax2 slide-fade-left has-background-transparent smoothSlideRight bg-size-cover-mobile bg-position-70-mobile" style="background: left no-repeat url({{ asset('build/images/mb_cost_blue_2.5179240f.jpg') }})"></div>
    <div class="is-flex is-flex-direction-column has-background-black-layerless is-relative min-vh-100 pb-5">
        <div class="column is-flex is-justify-content-center is-align-items-end is-relative">
            <div class="column is-hidden-touch"></div>
            <div class="column slide-fade-right is-three-quarters-desktop is-flex is-flex-direction-column is-justify-content-center">
                <div class="section has-text-right-tablet is-flex-tablet is-flex-direction-column is-align-items-end">
                    <h3 class="subtitle is-2 has-text-white">{{ 'Welcome to the official website of Marcel Boungou'|trans }}</h3>
                    <p class="subtitle has-text-grey-light column p-0 is-two-thirds">
                        {{ 'Official website of gospel artist Marcel BOUNGOU. Discover all the news on the latest events and announcements of the pastor and cantor Marcel BOUNGOU.'|trans }}
                        <br>
                        {{ 'Learn more about the MB Ministry label'|trans }}
                    </p>
                    <div class="fb-page"
                         data-href="https://www.facebook.com/marcelboungouofficiel"
                         data-tabs="timeline,events"
                         data-width="380"
                         data-hide-cover="false">
                    </div>
                </div>
            </div>
        </div>
        <div class="is-full has-text-centered is-flex is-justify-content-center is-align-items-center">
            <a href="javascript:;" onclick="scrollSmoothTo('news')">
            <span class="icon has-text-white is-size-big jumpDownBigger">
                <i class="fas fa-angle-down"></i>
            </span>
            </a>
        </div>
    </div>

</div>
