{% extends 'base.html.twig' %}

{% block title %}{% trans %}News index{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title has-text-white">{% trans %}News index{% endtrans %}</h1>

    <div class="column is-flex-tablet is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('home_index') }}">{{ 'Back to News page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('news_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <th class="is-hidden-touch">{% trans %}Content{% endtrans %}</th>
                    <th>{% trans %}Creation date{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for news in news|sort((a, b) => b.datetime <=> a.datetime) %}
                <tr>
                    <td>{{ news.id }}</td>
                    <td>{{ news.title }}</td>
                    <td class="is-hidden-touch">{{ news.description|raw }}</td>
                    <td>{{ news.datetime ? news.datetime|date('d/m/Y H:i:s') : '' }}</td>
                    <td>
                        <a class="button is-success is-small is-rounded m-1" href="{{ path('news_show', {'id': news.id}) }}">{% trans %}show{% endtrans %}</a>
                        <a class="button is-success is-small is-rounded m-1" href="{{ path('news_edit', {'id': news.id}) }}">{% trans %}edit{% endtrans %}</a><br>
                        <a class="button is-success is-small is-rounded m-1" href="{{ path('news_news_sender', {'id': news.id}) }}" onclick="return confirm({% trans %}'are you sure you want to send this newsletter to all subscribers ?'{% endtrans %})">{% trans %}send news to subscribers{% endtrans %}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{% trans %}no records found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column is-flex-tablet is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('home_index') }}">{{ 'Back to News page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('news_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

{% endblock %}
