{% extends 'base.html.twig' %}

{% block title %}{% trans %}News index{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title has-text-white has-text-centered pt-3">{% trans %}News index{% endtrans %}</h1>

    <div class="column is-flex-tablet is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('home_index') }}">{{ 'Back to News page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('news_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <th>{% trans %}Creation date{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for news in news|sort((a, b) => b.datetime <=> a.datetime) %}
                <tr>
                    <td>{{ news.id }}</td>
                    <td>{{ news.title }}</td>
                    <td>{{ news.datetime ? news.datetime|date('d/m/Y H:i:s') : '' }}</td>
                    <td>
                        {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'show', 'entity' : news, 'entity_type' : 'news', 'text': 'Show'|trans } %}
                        {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'edit', 'entity' : news, 'entity_type' : 'news', 'text': 'Edit'|trans } %}<br>
                        {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'send', 'entity' : news, 'entity_type' : 'news', 'text': 'Send news to subscribers'|trans, 'confirm_msg': 'are you sure you want to send this newsletter to all subscribers ?'|trans } %}
                        {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'delete', 'entity' : news, 'entity_type' : 'news', 'text': 'Delete news'|trans, 'confirm_msg': 'Are you sure you want to delete this item?'|trans } %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{% trans %}no records found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column is-flex-tablet is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('home_index') }}">{{ 'Back to News page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('news_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

{% endblock %}
