{% if new is defined %}
    <article class="is-relative my-6 has-text-white">
        {% if is_granted('ROLE_ADMIN') %}
            {% include 'includes/edit_entity_button.html.twig' with {'entity' : new, 'entity_type' : 'news' } %}
        {% endif %}
        <div class="overflow-wrap-break-word">
            {% if new.title %}
                <h3 class="title is-4 has-text-white">{{ new }}</h3>
            {% endif %}
            <span class="help has-text-grey-light pb-3">{{ new.datetime|format_datetime('full','short',locale=app.request.locale) }}</span>
            {% if app.request.locale == 'fr' %}
                {{ new.description|raw }}
            {% else %}
                {% if new.descriptionEn %}
                    {{ new.descriptionEn|raw }}
                {% elseif not new.descriptionEn %}
                    {{ new.description|raw }}
                {% endif %}
            {% endif %}
        </div>
    </article>
{% endif %}
