{{ form_start(subs_form,{'attr': {'class':'column is-half margin-auto is-full-touch has-text-centered'}}) }}
<h3 class="subtitle is-size-4-touch has-text-white">{{ 'You wish to subscribe to our newsletter'|trans }} ?</h3>
<div class="field has-addons is-flex-direction-column">
    <div class="control is-expanded">
        {{ form_widget(subs_form.email) }}
    </div>
    <div class="control">
        <button id="submitFormValidationRecaptcha" class="button is-size-5-mobile is-fullwidth is-success">
            <span>
                {{ 'Subscribe now'|trans }}
            </span>
        </button>
        <div class="g-recaptcha" data-sitekey="{% if app.environment == 'prod' %}{{ recaptcha_client }}{% elseif app.environment == 'dev' %}{{ recaptcha_client_localhost }}{% endif %}"></div>
    </div>
</div>

{% set child = subs_form.email %}
        {% if form_help(child) %}
            <span class="help is-info mt-0">
                <span class="icon-text" style="flex-wrap: nowrap">
                    <span class="icon">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span>{{ form_help(child) }}</span>
                </span>
            </span>
        {% endif %}

        {% if form_errors(child) %}
            <span class="help has-background-danger has-text-light px-2 py-1">
                {{ form_errors(child) }}
            </span>
        {% elseif error_msg is defined and error_msg %}
            <span class="help has-background-danger has-text-light px-2 py-1">
                {{ error_msg }}
            </span>
        {% endif %}

        {% for sub_child in child.children %}
            {% if form_errors(sub_child) %}
                <span class="help has-background-danger has-text-light px-2 py-1">
                    {{ form_errors(sub_child) }}
                </span>
            {% endif %}
        {% endfor %}

{{ form_end(subs_form) }}
