{% extends 'base.html.twig' %}

{% block title %}{% trans %}Album index{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title has-text-white">{% trans %}Album index{% endtrans %}</h1>

    <div class="column is-flex-tablet is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('discography_index') }}">{{ 'Back to Discography page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('album_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Year{% endtrans %}</th>
                <th>{% trans %}Feat{% endtrans %}</th>
                <th>{% trans %}Image{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for album in albums %}
                <tr>
                    <td>{{ album.id }}</td>
                    <td>{{ album.name }}</td>
                    <td>{{ album.year }}</td>
                    <td>{{ album.feat }}</td>
                    <td>{{ album.image }}</td>
                    <td>
                        {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'show', 'entity' : album, 'entity_type' : 'album', 'text': 'Show'|trans } %}
                        {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'edit', 'entity' : album, 'entity_type' : 'album', 'text': 'Edit'|trans } %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{% trans %}no records found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column is-flex-tablet is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-dark is-fullwidth" href="{{ path('discography_index') }}">{{ 'Back to Discography page'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('album_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
