{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <h1 class="subtitle has-text-white has-text-centered pt-3">{% trans %}Album{% endtrans %}<b> {{ album }}</b> </h1>

    <div class="column is-flex-tablet is-flex-direction-row is-justify-content-center">
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'index', 'entity' : album, 'entity_type' : 'album', 'text': 'Back to Albums list'|trans } %}
        </div>
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'edit', 'entity' : album, 'entity_type' : 'album', 'text': 'Edit'|trans } %}
        </div>
        <div class="px-1 py-1">
            {% include 'includes/index_entity_buttons/global_btn.html.twig' with {'action' : 'delete', 'entity' : album, 'entity_type' : 'album', 'text': 'Delete album'|trans, 'confirm_msg':'Are you sure you want to delete this item?'|trans } %}
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ album.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Year{% endtrans %}</th>
                <td>{{ album.year }}</td>
            </tr>
            <tr>
                <th>{% trans %}Feat{% endtrans %}</th>
                <td>{{ album.feat }}</td>
            </tr>
            <tr>
                <th>{% trans %}Image file{% endtrans %}</th>
                <td>
                    {% if album.image %}
                        <figure class="image">
                            <img src="{{ vich_uploader_asset(album, 'imageFile') | imagine_filter('my_thumb') }}" alt="{{ album.image }}">
                            {{ album.image }}
                        </figure>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
