{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <h1 class="subtitle has-text-white">{% trans %}Album{% endtrans %}<b> {{ album }}</b> </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ album.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Year{% endtrans %}</th>
                <td>{{ album.year }}</td>
            </tr>
            <tr>
                <th>{% trans %}Feat{% endtrans %}</th>
                <td>{{ album.feat }}</td>
            </tr>
            <tr>
                <th>{% trans %}Image file{% endtrans %}</th>
                <td>
                    {% if album.image %}
                        <figure class="image">
                            <img src="{{ vich_uploader_asset(album, 'imageFile') | imagine_filter('my_thumb') }}" alt="{{ album.image }}">
                            {{ album.image }}
                        </figure>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('album_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a href="{{ path('album_edit', {'id': album.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('album/_delete_form.html.twig') }}
{% endblock %}
