<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MB | {% block title %}{% endblock %}</title>

{#    FAVICON     #}
    <link rel="icon" href="{{ asset('build/images/favicon.82d4b478.png') }}" />

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.14/dist/css/bulma-calendar.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.24/dist/css/bulma-carousel.min.css" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {{ encore_entry_script_tags('app') }}

    {% block fonts %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    {% endblock %}

</head>
<body>

{% block header %}
    {{ include('includes/header.html.twig') }}
{% endblock %}

{{ include('includes/flash_message.html.twig') }}

<section class="body is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
    <div class="main-background" style="background: center / cover no-repeat url()">
        {% block main_background_img %}<img src="{{ asset('build/images/scene.e7204ad8.jpg') }}" alt="">{% endblock %}
        <div class="main-background-layer"></div>
    </div>
    {% block body %}{% endblock %}
</section>
{#{% if hightlights_dates is defined %}#}
{#{% for hightlight_date in hightlights_dates %}#}
{#    {{ hightlight_date }}#}
{#{% endfor %}#}
{#{% endif %}#}

{% block footer %}
    {{ include('includes/footer.html.twig') }}
{% endblock %}

</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.14/dist/js/bulma-calendar.min.js"></script>
{# BULMA CAROUSEL #}
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.24/dist/js/bulma-carousel.min.js"></script>

<script>

    {#     SCRIPT POUR TOOGLE NAVBAR IS-ACTIVE     #}
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
    {######################################}



    {#     SCRIPT POUR TOOGLE NAVBAR IS-ACTIVE     #}
    function toggleAttr(element) {
        element.forEach(function (el) {
            if (el.type === 'password'){
                el.type = 'text';
            }else if(el.type === 'text'){
                el.type = 'password';
            }
        });
    }

    let showPasswordBtn = document.querySelectorAll('.show-password');
    showPasswordBtn.forEach(function (el) {
            el.addEventListener('click', function (){
                if (el.querySelector('i').classList.contains('fa-eye-slash')){
                    el.querySelector('i').classList.replace('fa-eye-slash','fa-eye');
                    el.querySelector('i').classList.add('has-text-dark');
                } else {
                    el.querySelector('i').classList.replace('fa-eye','fa-eye-slash');
                    el.querySelector('i').classList.remove('has-text-dark');
                }

                toggleAttr(document.querySelectorAll('.input-password'))
            })
        }
    );



    // POSITIONNEMENT DES INFOBULL EN FONCTION DE LECRAN
    let hovertextbefore = document.querySelectorAll('.hovertext');
    hovertextbefore.forEach(function (el) {
        var w = window.innerWidth;
        var rect = el.getBoundingClientRect();
        if (rect.right >= (w / 2)){
            el.classList.add('right');
        }else {
            el.classList.add('left');
        }
    });

    let rotationXItems = document.querySelectorAll('.rotationX');
    rotationXItems.forEach(function (el) {
        el.addEventListener('mouseenter', function () {
            this.firstElementChild.style.WebkitTransitionDuration='.5s';
            this.firstElementChild.style.webkitTransform = 'rotateX(360deg)';
        }, false);
        el.addEventListener('mouseleave', function () {
            setTimeout(function () {
                el.firstElementChild.style.webkitTransform = 'none';
            });
        })
    });
    let rotationYItems = document.querySelectorAll('.rotationY');
    rotationYItems.forEach(function (el) {
        el.addEventListener('mouseenter', function () {
            this.firstElementChild.style.WebkitTransitionDuration='.5s';
            this.firstElementChild.style.webkitTransform = 'rotateY(360deg)';
        }, false);
        el.addEventListener('mouseleave', function () {
            setTimeout(function () {
                el.firstElementChild.style.webkitTransform = 'none';
            });
        })
    })



</script>

{% block javascripts %}
{% endblock %}



