<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MB | {% block title %}{% endblock %}</title>

{#    FAVICON     #}
    <link rel="icon" href="{{ asset('build/images/favicon.82d4b478.png') }}" />

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.14/dist/css/bulma-calendar.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.24/dist/css/bulma-carousel.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tagsinput@2.0.0/dist/css/bulma-tagsinput.min.css" />
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {{ encore_entry_script_tags('app') }}

    {% block fonts %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    {% endblock %}

</head>
<body>

{% block header %}
    {{ include('includes/header.html.twig') }}
{% endblock %}

{{ include('includes/flash_message.html.twig') }}

<section class="body">
    <div class="main-background has-background-black">
        {% block main_background_img %}{% endblock %}
        <div class="main-background-layer"></div>
    </div>
{#    <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center" style="min-height: 80vh">#}
        {% block body %}{% endblock %}
{#    </div>#}
</section>

{% block arrow_up %}
    <div class="arrow_up transition-5ms">
        <a href="#top" class="is-flex align-items-center justify-content-center">
            <span class="icon justify-content-center align-items-center is-size-4 has-text-white">
                <i class="fas fa-arrow-up"></i>
            </span>
        </a>
    </div>
{% endblock %}

{% block footer %}
    {{ include('includes/footer.html.twig') }}
{% endblock %}

</body>
</html>


{# BULMA CALENDAR #}
<script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.14/dist/js/bulma-calendar.min.js"></script>
{# BULMA CAROUSEL #}
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.24/dist/js/bulma-carousel.min.js"></script>
{# BULMA TAGS INPUT #}
<script src="https://cdn.jsdelivr.net/npm/bulma-tagsinput@2.0.0/dist/js/bulma-tagsinput.min.js"></script>


<script>

    {#     SCRIPT POUR TOOGLE NAVBAR IS-ACTIVE     #}
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
    {######################################}



    {#     SCRIPT POUR TOOGLE NAVBAR IS-ACTIVE     #}
    function toggleAttr(element) {
        element.forEach(function (el) {
            if (el.type === 'password'){
                el.type = 'text';
            }else if(el.type === 'text'){
                el.type = 'password';
            }
        });
    }

    {#     SCRIPT POUR AFFICHER OU NON LE PASSWORD D'UN FORMULAIRE    #}
    let showPasswordBtn = document.querySelectorAll('.show-password');
    showPasswordBtn.forEach(function (el) {
            el.addEventListener('click', function (){
                if (el.querySelector('i').classList.contains('fa-eye-slash')){
                    el.querySelector('i').classList.replace('fa-eye-slash','fa-eye');
                    el.querySelector('i').classList.add('has-text-dark');
                } else {
                    el.querySelector('i').classList.replace('fa-eye','fa-eye-slash');
                    el.querySelector('i').classList.remove('has-text-dark');
                }

                toggleAttr(document.querySelectorAll('.input-password'))
            })
        }
    );



    {# POSITIONNEMENT DES INFOBULL EN FONCTION DE LECRAN #}
    let hovertextbefore = document.querySelectorAll('.hovertext');
    hovertextbefore.forEach(function (el) {
        if (el){
            var w = window.innerWidth;
            var rect = el.getBoundingClientRect();
            if (rect.right >= (w / 2)){
                el.classList.add('right');
            }else {
                el.classList.add('left');
            }
        }
    });


    {# Animation de rotation X pour les element de la class associés #}
    let rotationXItems = document.querySelectorAll('.rotationX');
    rotationXItems.forEach(function (el) {
        el.addEventListener('mouseenter', function () {
            this.firstElementChild.style.WebkitTransitionDuration='.5s';
            this.firstElementChild.style.webkitTransform = 'rotateX(360deg)';
        }, false);
        el.addEventListener('mouseleave', function () {
            setTimeout(function () {
                el.firstElementChild.style.webkitTransform = 'none';
            });
        })
    });

    {# Animation de rotation Y pour les element de la class associés #}
    let rotationYItems = document.querySelectorAll('.rotationY');
    rotationYItems.forEach(function (el) {
        el.addEventListener('mouseenter', function () {
            this.firstElementChild.style.WebkitTransitionDuration='.5s';
            this.firstElementChild.style.webkitTransform = 'rotateY(360deg)';
        }, false);
        el.addEventListener('mouseleave', function () {
            setTimeout(function () {
                el.firstElementChild.style.webkitTransform = 'none';
            });
        })
    });


    {# SCRIPT POUR LA RECUP DU NOM DU FICHIER A UPLOAD #}
    let fileInputs = document.querySelectorAll('.file-input');
    fileInputs.forEach(function (input) {
        input.addEventListener('change', function () {
            input.parentElement.parentElement.querySelector(".file-name").innerText = this.files[0].name;
        });
    });


    {# SCRIPT POUR BULMA TAGS INPUTS #}
    let TagsInputOptions =  {
        allowDuplicates: false,
        caseSensitive: true,
        clearSelectionOnTyping: false,
        closeDropdownOnItemSelect: true,
        delimiter: ',',
        freeInput: true,
        highlightDuplicate: true,
        highlightMatchesString: true,
        itemValue: undefined,
        itemText: undefined,
        maxTags: undefined,
        maxChars: 10,
        minChars: 1,
        noResultsLabel: 'No results found',
        placeholder: '',
        removable: true,
        searchMinChars: 1,
        searchOn: 'text',
        selectable: true,
        source: undefined,
        tagClass: 'is-rounded',
        trim: true
    };
    bulmaTagsinput.attach('input[type="tags"], select[data-type="tags"], .tags-input', TagsInputOptions);

    {#   SCRIPT SCROLL UP   #}
    let divScroll = document.getElementsByClassName('arrow_up');
    let scroll_position = 0;
    window.addEventListener('scroll', function()
    {
        scroll_position = window.scrollY;
        if (scroll_position >= 500){
            divScroll[0].style.display = 'flex';
            divScroll[0].style.opacity = 1;
            divScroll[0].style.bottom = '2rem';
        } else {
            divScroll[0].style.opacity = 0;
            divScroll[0].style.bottom = '-200px';
        }
    });
    {#   FIN DU SCRIPT SCROLL UP   #}


    let heightScreen = window.innerHeight;
    let percent = 30;
    let percentHeightScreen = (heightScreen*percent)/100;
    {#  FADE-OUT FADE-IN OPACITY DISCS  #}
    let elementsToFade = document.querySelectorAll('.fade-effect');

    document.addEventListener('scroll', function () {
        elementsToFade.forEach(changeOpacityOnTopPosition);
        // showArrowUp();
    });

    function changeOpacityOnTopPosition(element) {
        var yPosition = element.getBoundingClientRect().y;
        if ( (-heightScreen < yPosition) && (yPosition < heightScreen) ) {
            element.classList.replace('opacity0','opacity100');
        }else {
            element.classList.replace('opacity100','opacity0');
        }
    }
    {#                               #}

    {#  SLIDE-FADE-RIGHT OBJECT  #}
    let slideFadeRightOjects = document.querySelectorAll('.slide-fade-right');

    document.addEventListener('scroll', function () {
        slideFadeRightOjects.forEach(slideFadeRight);
    });

    function slideFadeRight(element) {
        var yPosition = element.getBoundingClientRect().y;
        if ( (-heightScreen < yPosition) && (yPosition < heightScreen) ) {
            element.classList.add('is-sliding-right');
        }else {
            element.classList.remove('is-sliding-right');
        }
    }
    {#                               #}

    {#  SLIDE-FADE-LEFT OBJECT  #}
    let slideFadeLeftOjects = document.querySelectorAll('.slide-fade-left');

    document.addEventListener('scroll', function () {
        slideFadeLeftOjects.forEach(slideFadeLeft);
    });

    function slideFadeLeft(element) {
        var yPosition = element.getBoundingClientRect().y;
        if ( (-heightScreen < yPosition) && (yPosition < heightScreen) ) {
            element.classList.add('is-sliding-left');
        }else {
            element.classList.remove('is-sliding-left');
        }
    }
    {#                               #}

    {#  SCALE-UP-FADE OBJECT  #}
    let scaleUpFadeOjects = document.querySelectorAll('.scale-up-fade');

    document.addEventListener('scroll', function () {
        scaleUpFadeOjects.forEach(scaleUpFade);
    });

    function scaleUpFade(element) {
        var yPosition = element.getBoundingClientRect().y;
        if ( (-heightScreen < yPosition) && (yPosition < heightScreen) ) {
            element.classList.add('is-scaling-up');
        }else {
            element.classList.remove('is-scaling-up');
        }
    }
    {#                               #}



{#  SCRIPT POUR NAVBAR-MENU-TOUCH  #}
    var navbar = document.querySelector('.navbar');
    var elements = navbar.querySelectorAll('.navbar-menu-touch');
    elements.forEach(function(elem) {
        elem.addEventListener('click', function () {
            var thisDrop = elem.querySelector('.navbar-dropdown');
            retractMenuNavbarTouch(thisDrop);
        })
    });

    function retractMenuNavbarTouch(dropClicked) {
        var navbar = document.querySelector('.navbar');
        var dropdowns = navbar.querySelectorAll('.navbar-dropdown');
        dropdowns.forEach(function (drop) {
            if (dropClicked === drop){
                dropClicked.classList.remove('is-minimized');
                var menuTitle = dropClicked.parentElement.querySelector('a.navbar-item');
                menuTitle.classList.add('is-active', 'has-text-weight-bold');
            } else {
                drop.classList.add('is-minimized');
                var dropMenuTitle = drop.parentElement.querySelector('a.navbar-item');
                dropMenuTitle.classList.remove('is-active', 'has-text-weight-bold');
            }
            // drop.classList.add('is-minimized');
            // console.log(drop)
        })
    }
</script>

{% block javascripts %}
    {#          BULMA CAROUSEL            #}
    <script>
        //initialize options :

        var options = {
            initialSlide: 0,
            slidesToShow: 3,
            infinite: true,
            loop:true,
            effect: 'translate',
            autoplay: true,
            navigation:false,
            navigationSwipe: true,
            navigationKeys: false,
            pagination: false,
            duration:6000,
            autoplaySpeed:0,
            timing: 'linear',
            pauseOnHover: false,
        };


        // Initialize all div with carousel class
        var carousels = bulmaCarousel.attach('.carousel', options);

        var nextBtn = document.querySelector(('.slider-navigation-next'));
        nextBtn.style.display = 'none';
        var prevBtn = document.querySelector(('.slider-navigation-previous'));
        prevBtn.style.display = 'none';
        // Loop on each carousel initialized
        for(var i = 0; i < carousels.length; i++) {
            // Add listener to  event
            // carousels[i].on('show', state => {
            //     var slides = state.slides;
            //     slides.forEach(function (slide) {
            //         if (slide.classList.contains('is-current')){
            //             slide.style.zIndex = '1';
            //         } else {
            //             slide.style.zIndex = '0';
            //         }
            //     })
            // });
        }

        // Access to bulmaCarousel instance of an element
        /*
        var element = document.querySelector('#my-element');
        if (element && element.bulmaCarousel) {
            // bulmaCarousel instance is available as element.bulmaCarousel
            element.bulmaCarousel.on('before-show', function(state) {

            });
        }
        */

        window.onload = function(){
            elementsToFade.forEach(changeOpacityOnTopPosition);
            scaleUpFadeOjects.forEach(scaleUpFade);
            slideFadeLeftOjects.forEach(slideFadeLeft);
            slideFadeRightOjects.forEach(slideFadeRight);
        };

    </script>
{% endblock %}



