{% if form_title is defined %}
<span class="help">
    <span class="icon">
        <i class="fas fa-info-circle"></i>
    </span>
    <span>
        {{ form_title|raw }}
    </span>
</span>
{% endif %}

{{ form_start(form, {'attr': {'class': '', 'id': form.vars.name } }) }}


{% for child in form %}

<div class="field">

    {% if 'token' not in form_label(child) %}
    <div class="label is-size-7">
        {{ form_label(child) }}
        {% if child.vars.required %}
            *
        {% endif %}
    </div>
    {% endif %}

    {% if child.vars.block_prefixes[1] == 'choice' %}

    <div class="select is-small is-fullwidth">

        {{ form_widget(child) }}

    </div>
    {% elseif child.vars.block_prefixes[1] == 'checkbox' %}
        {% if 'agreeTerms' in child.vars.name %}
            <label class="checkbox">
                {{ form_widget(child) }}
                {% trans %}I agree to the{% endtrans %} <a href="#">{% trans %}terms and conditions{% endtrans %}</a>
            </label>
        {% elseif 'isVerified' in child.vars.name %}
            <label class="checkbox">
                {{ form_widget(child) }}
                {% trans %}Is verified{% endtrans %}
            </label>
        {% endif %}

    {% elseif child.vars.block_prefixes[1] == 'file' or child.vars.block_prefixes[1] == 'vich_file' %}
{#        {{ form_widget(child) }}#}
        {% if event is defined and event.image %}
            <figure class="is-flex is-justify-content-center is-relative">
                <img src="{{ asset('images/event_img/'~event.image) }}" alt="">
                <a href="{{ path('image_delete', {'id': event.id}) }}" class="delete is-large" style="position: absolute;right: .5rem;top: .5rem;"></a>
            </figure>
        {% endif %}

    <div class="file has-name is-fullwidth">
        <label class="file-label">
            {{ form_widget(child) }}
            <span class="file-cta has-background-white">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                    {% if child.vars.attr['extra-data'] is defined %}
                        {{ child.vars.attr['extra-data'] }}
                    {% else %}
                        {% trans %}Select a file{% endtrans %}
                    {% endif %}
                </span>
            </span>
            <span class="file-name">
                {% if event is defined and event.image %}
                    {{ event.image }}
                {% else %}
                    {% trans %}Empty{% endtrans %}
                {% endif %}
            </span>

        </label>
    </div>
    {% else %}
    <div class="control has-icons-left">
        {{ form_widget(child) }}
        {% if 'mail' in child.vars.name %}
            <span class="icon is-small is-left">
                <i class="fas fa-at"></i>
            </span>
        {% elseif 'phone' in child.vars.name or 'Phone' in child.vars.name %}
            <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
            </span>
        {% elseif ('street' in child.vars.name) or ('cp' in child.vars.name) or ('city' in child.vars.name) or ('building' in child.vars.name) or ('Adresse' in child.vars.name) %}
            <span class="icon is-small is-left">
                <i class="fas fa-map-marked-alt"></i>
            </span>
        {% elseif ('name' in child.vars.name) or ('Name' in child.vars.name) or ('Contact' in child.vars.name) %}
            <span class="icon is-small is-left">
                <i class="fas fa-signature"></i>
            </span>
        {% elseif ('password' in child.vars.name) or ('Password' in child.vars.name) %}
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
            <div class="show-password">
                <span class="icon is-small">
                    <i class="fas fa-eye-slash"></i>
                </span>
            </div>
        {% elseif 'datetime' in child.vars.name %}
            <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt"></i>
            </span>
        {% elseif 'country' in child.vars.name %}
            <span class="icon is-small is-left">
                <i class="fas fa-globe"></i>
            </span>
        {% endif %}
    </div>

    {% endif %}


    {% if form_help(child) %}
    <span class="help is-info mt-0">
        <span class="icon-text" style="flex-wrap: nowrap">
            <span class="icon">
                <i class="fas fa-info-circle"></i>
            </span>
            <span>{{ form_help(child) }}</span>
        </span>
    </span>
    {% endif %}

    {% if form_errors(child) %}
        <span class="help has-background-danger has-text-light px-2 py-1">
            {{ form_errors(child) }}
        </span>
    {% endif %}

    {% for sub_child in child.children %}
        {% if form_errors(sub_child) %}
        <span class="help has-background-danger has-text-light px-2 py-1">
            {{ form_errors(sub_child) }}
        </span>
        {% endif %}
    {% endfor %}

{#    {% if child.vars.name == 'tags' %}#}
{#        {% set entity = form.vars.name %}#}
{#        {% if entity is defined and entity.tags is defined %}#}
{#            {% for tag in event.tags %}#}
{#                {{ tag }}#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#        <form action="{{ path('tag_add') }}" method="post">#}
{#            <input type="tags">#}
{#            <button class="button is-small">add tag</button>#}
{#        </form>#}

{#    {% endif %}#}

</div>
{% endfor %}


{% if 'reset_password' in form.vars.name %}
    <div class="field has-text-centered" id="save">
        <button class="button is-success is-small btn-submit">
        <span class="icon">
            <i class="fas fa-paper-plane"></i>
        </span>
            <span>
            {% trans %}Send{% endtrans %}
        </span>
        </button>
    </div>
{% else %}
    <div class="field has-text-right" id="save">
        {% if redirect is defined %}
            <a href="{{ redirect.link }}" class="button is-small is-dark">{{ redirect.txt }}</a>
        {% endif %}
        <button class="button is-success is-small btn-submit">
            <span class="icon">
                <i class="fas fa-check"></i>
            </span>
            <span>
            {% trans %}Confirm{% endtrans %}
            </span>
        </button>
    </div>
{% endif %}

{{ form_end(form) }}


{#        {% if entity is defined and entity.tags is defined %}#}
{#            {% for tag in event.tags %}#}
{#                {{ tag }}#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#<form action="{{ path('tag_add') }}" method="post">#}
{#    <div class="field has-addons">#}
{#        <p class="control">#}
{#            <input class="input is-small" type="tags" name="tag">#}
{#        </p>#}
{#        <p class="control">#}
{#            <button type="submit" class="button is-small">add tag</button>#}
{#        </p>#}
{#    </div>#}
{#</form>#}
