{{ form_start(form, {'attr': {'class': 'column is-two-fifths-desktop is-two-thirds-tablet has-background-light', 'id': form.vars.name } }) }}


{% for child in form %}

<div class="field">

    {% if 'token' not in form_label(child) %}
    <div class="label is-size-7">
        {{ form_label(child) }}
    </div>
    {% endif %}

    {% if child.vars.block_prefixes[1] == 'choice' %}

    <div class="select is-small is-fullwidth">

        {{ form_widget(child) }}

    </div>

    {% elseif child.vars.block_prefixes[1] == 'file' %}
    <div class="file has-name is-fullwidth">
        <label class="file-label">
            {{ form_widget(child) }}
            <input class="file-input" type="file" name="resume">
            <span class="file-cta has-background-white">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                    Choisir une image…
                </span>
            </span>
            <span class="file-name">
                <i>Vide</i>
            </span>

        </label>
    </div>
    {% else %}
    <p class="control has-icons-left has-icons-right">
        {{ form_widget(child) }}
        {% if 'mail' in child.vars.name %}
        <span class="icon is-small is-left">
            <i class="fas fa-at"></i>
        </span>
        {% elseif 'phone' in child.vars.name or 'Phone' in child.vars.name %}
        <span class="icon is-small is-left">
            <i class="fas fa-phone"></i>
        </span>
        {% elseif ('street' in child.vars.name) or ('cp' in child.vars.name) or ('city' in child.vars.name) or ('building' in child.vars.name) or ('Adresse' in child.vars.name) %}
        <span class="icon is-small is-left">
            <i class="fas fa-map-marked-alt"></i>
        </span>
        {% elseif ('name' in child.vars.name) or ('Name' in child.vars.name) or ('Contact' in child.vars.name) %}
        <span class="icon is-small is-left">
            <i class="fas fa-signature"></i>
        </span>
        {% endif %}
    </p>

    {% endif %}


    {% if form_help(child) %}
    <span class="help is-info mt-0">
        <span class="icon-text" style="flex-wrap: nowrap">
            <span class="icon">
                <i class="fas fa-info-circle"></i>
            </span>
            <span>{{ form_help(child) }}</span>
        </span>
    </span>
    {% endif %}

    {% if form_errors(child) %}
    <span class="tag is-danger">
        {{ form_errors(child) }}
    </span>
    {% endif %}

    {% for sub_child in child.children %}
        {% if form_errors(sub_child) %}
        <span class="tag is-danger">
            {{ form_errors(sub_child) }}
        </span>
        {% endif %}
    {% endfor %}

</div>
{% endfor %}


<div class="field has-text-centered" id="save">
    <button class="button is-success is-small btn-submit">
        <span class="icon">
            <i class="fas fa-lg fa-save"></i>
        </span>
        <span>
            Valider
        </span>
    </button>
</div>

{{ form_end(form) }}
