{% extends 'base.html.twig' %}

{% block title %}{% trans %}List of Managers{% endtrans %}{% endblock %}

{% block body %}

    <h1 class="title has-text-white has-text-centered pt-3">{% trans %}List of Managers{% endtrans %}</h1>

    <div class="column is-flex-tablet is-justify-content-center is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-outlined has-text-weight-bold is-rounded p-3 m-1" href="{{ path('home_index') }}">{{ 'Back to home'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-success is-fullwidth" href="{{ path('app_register') }}">{% trans %}Add a Manager{% endtrans %}</a>
        </div>
    </div>

        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}Roles{% endtrans %}</th>
                    <th>{% trans %}Verified{% endtrans %} ?</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                                {% trans %}Super Manager{% endtrans %}
                            {% else %}
                                {% trans %}Manager{% endtrans %}
                            {% endif %}
                        </td>
                        <td>
                            {% if user.verified %}
                                {% trans %}Yes{% endtrans %}
                            {% else %}
                                {% trans %}No{% endtrans %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('user_edit', {'id': user.id}) }}">{% trans %}edit{% endtrans %}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{% trans %}no records found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    <div class="column is-flex-tablet is-justify-content-center is-flex-direction-row">
        <div class="px-1 py-1">
            <a class="button is-outlined has-text-weight-bold is-rounded p-3 m-1" href="{{ path('home_index') }}">{{ 'Back to home'|trans }}</a>
        </div>
        <div class="px-1 py-1">
            <a class="button is-outlined has-text-weight-bold is-rounded p-3 m-1" href="{{ path('app_register') }}">{% trans %}Add a Manager{% endtrans %}</a>
        </div>
    </div>

{% endblock %}
