{#<div class="column is-flex-desktop is-justify-content-center">#}
{#    {% for nb in 1..10 %}#}
{#        <div class="column box-shadow-bulma is-one-quarter-desktop is-one-fifth-widescreen disc-hidden disc disc-{{ nb }} {% if nb == 1 %}disc-selected{% endif %}">#}
{#            {{ include('discography/disc_box.twig') }}#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}

<div class="column is-full is-full-mobile">
    <!-- Start Carousel -->
    <div class="carousel">
        {% for album in albums|sort((a, b) => b.year <=> a.year) %}
            <div class="px-5 py-5 scalup-hover transition-1s is-relative scale-up-fade">

                {% if is_granted('ROLE_ADMIN') %}
                    {% include 'includes/edit_entity_button.html.twig' with {'entity' : album, 'entity_type' : 'album' } %}
                {% endif %}

                <a data-href="{{ album }}" onclick="searchAlbum(this)" class="card" style="width: 200px; height: 100%;">

                    <div class="card-image">
                        <figure class="image is-square">
                            {% if album.image %}
                                <img src="{{ vich_uploader_asset(album, 'imageFile') }}" alt="{{ album }}">
                            {% else %}
                                <img src="https://bulma.io/images/placeholders/480x480.png" alt="no image">
                            {% endif %}
                        </figure>
                    </div>

                    <div class="column has-background-light">
                        <div class="content has-text-black">
                            <span class="album-name">{{ album }}</span>
                            {% if album.year %}<br>{{ album.year }}{% endif %}
                            {% if album.feat %}<br><span class="help">{% trans %}Featuring : {% endtrans %} {{ album.feat }}</span>{% endif %}
                        </div>
                    </div>

                </a>
            </div>
        {% endfor %}
    </div>
    <!-- End Carousel -->
</div>





