{#<div class="column is-flex-desktop is-justify-content-center">#}
{#    {% for nb in 1..10 %}#}
{#        <div class="column box-shadow-bulma is-one-quarter-desktop is-one-fifth-widescreen disc-hidden disc disc-{{ nb }} {% if nb == 1 %}disc-selected{% endif %}">#}
{#            {{ include('discography/disc_box.twig') }}#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}

<div class="column">
        <!-- Start Carousel -->
        <div class="carousel" style="height: 250px;">
                {% for nb in 1..10 %}
{#                        <div class="" style="height: 100%;">#}
                                <div class="has-background-primary item-{{ nb }} box mx-2 my-2" style="height: 90%;width: 150px">
                                        <div class="is-flex is-flex-direction-row"  style="height: 100%;">
                                                <div class="column has-background-black slider-container-child">
                                                        <div class="has-text-white">
                                                                Music {{ nb }}
                                                        </div>
                                                </div>
                                        </div>
                                </div>
{#                        </div>#}
                {% endfor %}
        </div>
        <!-- End Carousel -->
</div>

<div class="column">
        <!-- Start Carousel -->
        <div class="carousel" style="height: 200px;">
                {% for nb in 1..10 %}
                        {#                        <div class="" style="height: 100%;">#}
                        <div class="has-background-primary item-{{ nb }} box mx-2 my-2" style="height: 90%;">
                                <div class="is-flex is-flex-direction-row"  style="height: 100%;">
                                        <div class="column has-background-black slider-container-child">
                                                <div class="has-text-white">
                                                        Music {{ nb }}
                                                </div>
                                        </div>
                                </div>
                        </div>
                        {#                        </div>#}
                {% endfor %}
        </div>
        <!-- End Carousel -->
</div>




