{#<div class="column is-flex-desktop is-justify-content-center">#}
{#    {% for nb in 1..10 %}#}
{#        <div class="column box-shadow-bulma is-one-quarter-desktop is-one-fifth-widescreen disc-hidden disc disc-{{ nb }} {% if nb == 1 %}disc-selected{% endif %}">#}
{#            {{ include('discography/disc_box.twig') }}#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for music in musics %}

                {{ include('includes/music_container.html.twig') }}

            {% endfor %}
        </div>
    </div>
</section>





{#        <div class="{{ music.album }} column is-flex is-align-items-center is-flex-direction-row has-text-white px-0 py-0 my-5 is-hidden-touch">#}
{#            <figure class="image is-96x96 mx-3 my-3">#}
{#                {% if music.album.image %}#}
{#                    <img src="{{ vich_uploader_asset(music.album, 'imageFile') }}" style="height: 100%;">#}
{#                {% else %}#}
{#                    <img src="https://picsum.photos/id/{{ random(1,100) }}/240/240" style="height: 100%;">#}
{#                {% endif %}#}
{#            </figure>#}
{#            <div class="is-flex is-flex-direction-column is-justify-content-center column px-3 py-3">#}
{#                <div class="">#}
{#                    <span class="has-text-weight-bold">{{ music }}</span>#}
{#                    <span class="help">{{ music.album }} ({{ music.album.year }})</span>#}
{#                </div>#}
{#                <audio src="{{ vich_uploader_asset(music, 'musicFile') }}" preload="auto" controls controlsList="nodownload" style="width: 100%" onplay="pauseAllMusics(this)"></audio>#}
{#            </div>#}
{#        </div>#}
