<!-- Start Carousel -->
<div class="carousel is-hidden-mobile box-shadow-bulma" style="height: 200px;">
    {% set count_2 = 0 %}
    {% for event in events[1:] %}
        {% if count_2 < 4 %}
            <div class="" style="height: 100%;">
                <div class="has-background-primary-light item-{{ count_2 }}" style="height: 100%;">
                    <div class="is-flex is-flex-direction-row has-background-success-light"  style="height: 100%;">
                        <img src="{{ asset('build/images/palatasingers1.4e6d4fc8.jpg') }}" alt="" style="height: 100%;max-height: 100%">
                        <div class="column has-background-success-light slider-container-child">
                            <div class="has-text-dark">
                                <h3 class="title">{{ event.title }}</h3>
                                <span>{{ event.datetime|format_datetime('full','short',locale=app.request.locale) }}</span>
                                <br>
                                <a href="https://www.google.fr/maps/search/{{ event.adresse }}" class="icon is-info" onclick="window.open(this.href, 'newwindow', 'height=570,width=520');return false;">
                                    <i class="fas fa-lg fa-map-marker-alt"></i>
                                </a>

                                <a class="icon has-text-info" onclick="document.querySelector('#modalEvent'+{{ event.id }}).classList.add('is-active')">
                                    <i class="fas fa-lg fa-calendar-alt"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% set count_2 = count_2 + 1 %}
    {% endfor %}
</div>
<!-- End Carousel -->
