<!-- Start Carousel -->
<div class="carousel is-hidden-mobile box-shadow-bulma" style="height: 200px;">
    {% set count_2 = 0 %}
    {% for event in events[1:] %}
        {% if count_2 < 4 %}
            <div class="" style="height: 100%;">
                <div class="has-background-primary-light item-{{ count_2 }}" style="height: 100%;">
                    <div class="is-flex is-flex-direction-row has-background-success-light"  style="height: 100%;">
                        <img src="{{ asset('build/images/palatasingers1.4e6d4fc8.jpg') }}" alt="" style="height: 100%;max-height: 100%">
                        <div class="column has-background-success-light slider-container-child is-flex is-flex-direction-column">
                            <h3 class="has-text-dark title has-text-weight-bold">
                                {{ event.title }}
                            </h3>
                            <div class="column is-flex is-align-items-center px-0 py-0">
                                <a href="https://www.google.fr/maps/search/{{ event.adresse }}" class="has-text-success" onclick="window.open(this.href, 'newwindow', 'height=570,width=520');return false;">
                                    <span>
                                        {{ event.adresse }}
                                    </span>
                                    <span  class="icon">
                                        <i class="fas fa-lg fa-map-marker-alt"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="column is-flex is-align-items-center px-0 py-0">
                                <a class="has-text-success" onclick="document.querySelector('#modalEvent'+{{ event.id }}).classList.add('is-active')">
                                    <span>
                                        {{ event.datetime|format_datetime('full','short',locale=app.request.locale) }}
                                    </span>
                                    <span  class="icon">
                                        <i class="fas fa-lg fa-calendar-alt"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% set count_2 = count_2 + 1 %}
    {% endfor %}
</div>
<!-- End Carousel -->
