{% extends 'base.html.twig' %}

{% block title %}{% trans %}Events{% endtrans %}{% endblock %}

{% block body %}
    {% for event in events %}
        <div class="modal" id="modalEvent{{ event.id }}">
            <div class="modal-background" onclick="this.parentElement.classList.remove('is-active')"></div>
            <div class="modal-content">
                {{ include('includes/modal_event.html.twig') }}
            </div>
            <button class="modal-close is-large" aria-label="close" onclick="this.parentElement.classList.remove('is-active')"></button>
        </div>
    {% endfor %}
    <section class="container">
        <div class="is-flex-tablet is-flex-direction-row-reverse pt-6">

            <div class="column is-one-quarter-desktop is-one-third-tablet">
                {{ include('includes/calendar.html.twig') }}
            </div>

            <div class="column is-relative">
                <a href="{{ path('events_edit', {'id': events[0].id}) }}" class="button borderless is-warning is-small" style="position:absolute;right: 0;z-index: 2;">
                    <span class="icon">
                        <i class="fas fa-lg fa-edit"></i>
                    </span>
                </a>
                <h2 class="has-text-centered is-size-3 is-size-6-touch has-text-weight-bold next-event-logo is-uppercase">
                    {% if app.request.locale == 'fr' %}
                        <span style="--i:1">P</span>
                        <span style="--i:2">r</span>
                        <span style="--i:3">o</span>
                        <span style="--i:4">c</span>
                        <span style="--i:5">h</span>
                        <span style="--i:6">a</span>
                        <span style="--i:7">i</span>
                        <span style="--i:8">n</span>
                        <span style="--i:9">&nbsp;é</span>
                        <span style="--i:10">v</span>
                        <span style="--i:11">é</span>
                        <span style="--i:12">n</span>
                        <span style="--i:13">e</span>
                        <span style="--i:14">m</span>
                        <span style="--i:15">e</span>
                        <span style="--i:16">n</span>
                        <span style="--i:17">t</span>
                    {% else %}
                        <span style="--i:1">N</span>
                        <span style="--i:2">e</span>
                        <span style="--i:3">x</span>
                        <span style="--i:4">t</span>
                        <span style="--i:5">&nbsp;E</span>
                        <span style="--i:6">v</span>
                        <span style="--i:7">e</span>
                        <span style="--i:8">n</span>
                        <span style="--i:9">t</span>
                    {% endif %}
                </h2>

                <div class="" id="majorEvent">
                    <div class="is-flex is-flex-direction-column"  style="height: 100%;">
                        <figure class="image is-3by1">
                            {% if events[0].image %}
                                <img src="{{ asset('images/event_img/' ~ events[0].image) }}" alt="" style="height: 100%;max-height: 100%;object-fit: contain">
                            {% else %}
                                <img src="{{ asset('build/images/default_event_affiche.6019243e.png') }}" alt="" style="height: 100%;max-height: 100%;object-fit: contain">
                            {% endif %}
                        </figure>

                        <div class="box-shadow-bulma-event-card">
                            <div class="column has-background-success-light is-flex is-align-items-center is-justify-content-center" style="z-index: 1;">
                                <h3 class="has-text-dark title has-text-weight-bold">
                                    {{ events[0].title }}
                                </h3>
                            </div>
                            <div class="column has-background-success-light slider-container-child is-flex-desktop is-justify-content-space-between has-text-centered">
                                <div class="column is-flex is-align-items-center is-justify-content-center px-0 py-0">
                                    <a href="https://www.google.fr/maps/search/{{ events[0].adresse }}" class="has-text-success" onclick="window.open(this.href, 'newwindow', 'height=570,width=520');return false;">
                                    <span>
                                        {{ events[0].adresse }}
                                    </span>
                                        <span  class="icon">
                                        <i class="fas fa-lg fa-map-marker-alt"></i>
                                    </span>
                                    </a>
                                </div>
                                <div class="column is-flex is-align-items-center is-justify-content-center px-0 py-0">
                                    <a class="has-text-success" onclick="document.querySelector('#modalEvent'+{{ events[0].id }}).classList.add('is-active')">
                                    <span>
                                        {{ events[0].datetime|format_datetime('full','short',locale=app.request.locale) }}
                                    </span>
                                        <span  class="icon">
                                        <i class="fas fa-lg fa-calendar-alt"></i>
                                    </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <!-- Events box for mobile -->
            {% set count_1 = 0 %}
            {% for event in events[1:] %}
                {% if count_1 < 4 %}
                    {{ include('event/event_container_touch.html.twig') }}
                {% endif %}
                {% set count_1 = count_1 + 1 %}
            {% endfor %}
            <!-- End Event box for mobile -->

            {{ include('events/carousel_events.html.twig') }}

        </div>

        <div class="column">
            <a href="#" class="button is-success is-light is-fullwidth box-shadow-bulma">{% trans %}See all events{% endtrans %}</a>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
{#     BULMA CALENDAR     #}
<script>

var today  = new Date();
var yesterday = new Date();
yesterday.setDate(today.getDate() - 1);
var highlightsDates = [];

{% if events is defined %}
let date;
{% for event in events %}
date = '{{ event.datetime|date('d/m/Y') }}';
highlightsDates.push(date);
{% endfor %}
{% else %}
highlightsDates = false;
{% endif %}

{% if app.request.get('_route') == 'events_new' %}
var defaultOptions = {
    type: 'datetime',
    displayMode: 'default',
    color: 'primary',
    showHeader: true,
    isRange: false,
    allowSameDayRange: true,
    lang: '{{ app.request.locale }}',
    startDate: today,
    endDate: undefined,
    minDate: undefined,
    maxDate: null,
    disabledDates: [],
    disabledWeekDays: undefined,
    highlightedDates: highlightsDates,
    weekStart: 0,
    dateFormat: 'dd/MM/yyyy',
    enableMonthSwitch: false,
    enableYearSwitch: false,
    displayYearsCount: 50,
    todayLabel: 'Aujourd\'hui',
    showClearButton: true,
    showButtons: true,
    showTodayButton: true,
};
{% else %}
var defaultOptions = {
    type: 'date',
    displayMode: 'inline',
    color: 'primary',
    showHeader: true,
    isRange: false,
    allowSameDayRange: true,
    lang: '{{ app.request.locale }}',
    startDate: today,
    endDate: undefined,
    minDate: today.toLocaleDateString('fr-FR'),
    maxDate: null,
    disabledDates: [],
    disabledWeekDays: undefined,
    highlightedDates: highlightsDates,
    weekStart: 0,
    dateFormat: 'dd/MM/yyyy',
    enableMonthSwitch: false,
    enableYearSwitch: false,
    displayYearsCount: 50,
    //todayLabel: {% trans %}'Today'{% endtrans %},
    showClearButton: false,
    showButtons: false,
    showTodayButton: false,
};
{% endif %}

const calendars = bulmaCalendar.attach('[type="date"]', defaultOptions);

// Loop on each calendar initialized
calendars.forEach(calendar => {
    // Add listener to select event
    calendar.on('select', date => {
        // console.log(date);
    });
});

// To access to bulmaCalendar instance of an element

const agendas = document.querySelectorAll('.bulma-calendar');
agendas.forEach(function (agenda) {
    if (agenda) {
        // bulmaCalendar instance is available as element.bulmaCalendar
        agenda.bulmaCalendar.on('select', datepicker => {
            selectedDate = datepicker.data.value();
            let highlightsInfos = document.querySelectorAll('.highlight-info');
            highlightsInfos.forEach(highlight => highlight.classList.add('is-hidden'));
            //console.log(selectedDate);
            highlightsDates.forEach(function (highlight) {
                if (highlight === selectedDate){
                    let highlightInfoId = document.getElementById(highlight);
                    highlightInfoId.classList.remove('is-hidden');
                }
            });
        });
    }
});

</script>

{#          BULMA CAROUSEL            #}
    <script>
        //initialize options :

        var options = {
            initialSlide: 0,
            slidesToShow: 1,
            infinite: false,
            loop:true,
            effect: 'fade',
            autoplay: true,
            navigationSwipe: true,
            navigationKeys: false,
            pagination: false,
        };

        // Initialize all div with carousel class
        var carousels = bulmaCarousel.attach('.carousel', options);

        // Loop on each carousel initialized
        for(var i = 0; i < carousels.length; i++) {
            // Add listener to  event
            carousels[i].on('before:show', state => {
                console.log(state);
            });
        }

        // Access to bulmaCarousel instance of an element
        /*
        var element = document.querySelector('#my-element');
        if (element && element.bulmaCarousel) {
            // bulmaCarousel instance is available as element.bulmaCarousel
            element.bulmaCarousel.on('before-show', function(state) {
                console.log(state);
            });
        }
        */
    </script>
{% endblock %}

