{% extends 'base.html.twig' %}

{% block title %}{% trans %}Events{% endtrans %}{% endblock %}

{% block body %}
    <section class="container">
        <div class="is-flex-tablet is-flex-direction-row-reverse">
            <div class="column is-one-quarter-desktop is-one-third-tablet">
                {{ include('includes/calendar.html.twig') }}
            </div>
            <div class="column">
                <div class="box" style="height: 100%">
                    {{ events[0].title }}
                    -
                    {% if app.request.locale == 'fr' %}
                        {{ events[0].datetime|date('d/m/Y - H:i') }}
                    {% elseif app.request.locale == 'en' %}
                        {{ events[0].datetime|date('m/d/Y - h:i a') }}
                    {% else %}
                        {{ events[0].datetime|date('d/m/Y - H:i') }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="column">
            {% set count = 0 %}
            {% for event in events[1:] %}
                {% if count < 4 %}
                    <div class="box">
                        {{ event.title }}
                        -
                        {% if app.request.locale == 'fr' %}
                            {{ event.datetime|date('d/m/Y - H:i') }}
                        {% elseif app.request.locale == 'en' %}
                            {{ event.datetime|date('m/d/Y - h:i a') }}
                        {% else %}
                            {{ event.datetime|date('d/m/Y - H:i') }}
                        {% endif %}
                    </div>
                {% endif %}
                {% set count = count + 1 %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
