{% extends 'base.html.twig' %}

{% block title %}{% trans %}Events{% endtrans %}{% endblock %}

{% block body %}
    <section class="container">
        <div class="is-flex-tablet is-flex-direction-row-reverse">
            <div class="column is-one-quarter-desktop is-one-third-tablet">
                {{ include('includes/calendar.html.twig') }}
            </div>
            <div class="column">
                <div class="box px-0 py-0 has-background-primary-light" id="majorEvent">
                    <div class="is-flex is-flex-direction-column has-background-black"  style="height: 100%;">
                        <figure class="is-flex is-justify-content-center" style="height: 300px;">
                            <img src="{{ asset('build/images/mb_cost_blue_1.4e43ac8e.jpg') }}" alt="" style="height: 100%;max-height: 100%;object-fit: contain">
                        </figure>
                        <div class="column has-background-black" style="z-index: 1;">
                            <div class="has-text-white">
                                {{ events[0].title }}
                                - {{ events[0].datetime|format_datetime('full','short',locale=app.request.locale) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <!-- Events box for mobile -->
            {% set count_1 = 0 %}
            {% for event in events[1:] %}
                {% if count_1 < 4 %}
                    <div class="box px-0 py-0 item-{{ count_1 }} is-hidden-tablet has-background-primary-light">
                        <div class="is-flex is-flex-direction-row has-background-success"  style="height: 100%;">
                            <img src="{{ asset('build/images/palatasingers1.4e6d4fc8.jpg') }}" alt="" style="height: 100%;max-height: 100%;max-width: 100%">
                        </div>
                        {{ event.title }}
                        - {{ event.datetime|format_datetime('full','short',locale=app.request.locale) }}
                    </div>
                {% endif %}
                {% set count_1 = count_1 + 1 %}
            {% endfor %}
            <!-- End Event box for mobile -->

            <!-- Start Carousel -->
            <div class="carousel is-hidden-mobile box px-0 py-0" style="height: 200px;">
                {% set count_2 = 0 %}
                {% for event in events[1:] %}
                    {% if count_2 < 4 %}
                        <div class="" style="height: 100%;">
                            <div class="has-background-primary-light item-{{ count_2 }}" style="height: 100%;">
                                <div class="is-flex is-flex-direction-row has-background-success"  style="height: 100%;">
                                    <img src="{{ asset('build/images/palatasingers1.4e6d4fc8.jpg') }}" alt="" style="height: 100%;max-height: 100%">
                                    <div class="column has-background-black" style="z-index: 1;box-shadow: -5px 0 25px 15px #0A0A0A">
                                        <div class="has-text-white">
                                            {{ event.title }}
                                            - {{ event.datetime|format_datetime('full','short',locale=app.request.locale) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% set count_2 = count_2 + 1 %}
                {% endfor %}
            </div>
            <!-- End Carousel -->
        </div>

        <div class="column">
            <a href="#" class="button is-success is-light is-fullwidth box-shadow-bulma">{% trans %}See all events{% endtrans %}</a>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
{#     BULMA CALENDAR     #}
<script>

var today  = new Date();
var yesterday = new Date();
yesterday.setDate(today.getDate() - 1);
var highlightsDates = [];

{% if events is defined %}
let date;
{% for event in events %}
date = '{{ event.datetime|date('d/m/Y') }}';
highlightsDates.push(date);
{% endfor %}
{% else %}
highlightsDates = false;
{% endif %}

{% if app.request.get('_route') == 'events_new' %}
var defaultOptions = {
    type: 'datetime',
    displayMode: 'default',
    color: 'primary',
    showHeader: true,
    isRange: false,
    allowSameDayRange: true,
    lang: '{{ app.request.locale }}',
    startDate: today,
    endDate: undefined,
    minDate: undefined,
    maxDate: null,
    disabledDates: [],
    disabledWeekDays: undefined,
    highlightedDates: highlightsDates,
    weekStart: 0,
    dateFormat: 'dd/MM/yyyy',
    enableMonthSwitch: false,
    enableYearSwitch: false,
    displayYearsCount: 50,
    todayLabel: 'Aujourd\'hui',
    showClearButton: true,
    showButtons: true,
    showTodayButton: true,
};
{% else %}
var defaultOptions = {
    type: 'date',
    displayMode: 'inline',
    color: 'primary',
    showHeader: true,
    isRange: false,
    allowSameDayRange: true,
    lang: '{{ app.request.locale }}',
    startDate: today,
    endDate: undefined,
    minDate: today.toLocaleDateString('fr-FR'),
    maxDate: null,
    disabledDates: [],
    disabledWeekDays: undefined,
    highlightedDates: highlightsDates,
    weekStart: 0,
    dateFormat: 'dd/MM/yyyy',
    enableMonthSwitch: false,
    enableYearSwitch: false,
    displayYearsCount: 50,
    //todayLabel: {% trans %}'Today'{% endtrans %},
    showClearButton: false,
    showButtons: false,
    showTodayButton: false,
};
{% endif %}

const calendars = bulmaCalendar.attach('[type="date"]', defaultOptions);

// Loop on each calendar initialized
calendars.forEach(calendar => {
    // Add listener to select event
    calendar.on('select', date => {
        // console.log(date);
    });
});

// To access to bulmaCalendar instance of an element

const agendas = document.querySelectorAll('.bulma-calendar');
agendas.forEach(function (agenda) {
    if (agenda) {
        // bulmaCalendar instance is available as element.bulmaCalendar
        agenda.bulmaCalendar.on('select', datepicker => {
            selectedDate = datepicker.data.value();
            let highlightsInfos = document.querySelectorAll('.highlight-info');
            highlightsInfos.forEach(highlight => highlight.classList.add('is-hidden'));
            //console.log(selectedDate);
            highlightsDates.forEach(function (highlight) {
                if (highlight === selectedDate){
                    let highlightInfoId = document.getElementById(highlight);
                    highlightInfoId.classList.remove('is-hidden');
                }
            });
        });
    }
});

</script>

{#          BULMA CALENDAR            #}
    <script>
        //initialize options :
        var options = {
            initialSlide: 0,
            slidesToShow: 1,
            infinite: false,
            loop:true,
            effect: 'fade',
            autoplay: false,
            navigationSwipe: true,
            navigationKeys: false,
        };
        // Initialize all div with carousel class
        var carousels = bulmaCarousel.attach('.carousel', options);

        // Loop on each carousel initialized
        for(var i = 0; i < carousels.length; i++) {
            // Add listener to  event
            carousels[i].on('before:show', state => {
                console.log(state);
            });
        }

        // Access to bulmaCarousel instance of an element
        /*
        var element = document.querySelector('#my-element');
        if (element && element.bulmaCarousel) {
            // bulmaCarousel instance is available as element.bulmaCarousel
            element.bulmaCarousel.on('before-show', function(state) {
                console.log(state);
            });
        }
        */
    </script>
{% endblock %}

